.responstable {
    margin: 1em 0;
    width: 100%;
    overflow: hidden;
    background: #fff;
    color: #024457;
    border-radius: 10px;
    border: 1px solid #167f92;
  }
  .responstable tr {
    border: 1px solid #d9e4e6;
  }
  .responstable tr:nth-child(odd) {
    background-color: #eaf3f3;
  }
  .responstable th {
    display: none;
    border: 1px solid #fff;
    background-color: #167f92;
    color: #fff;
    padding: 1em;
  }
  .responstable th:first-child {
    display: table-cell;
    text-align: center;
  }
  .responstable th:nth-child(2) {
    display: table-cell;
  }
  .responstable th:nth-child(2) span {
    display: none;
  }
  .responstable th:nth-child(2):after {
    content: attr(data-th);
  }

  /* search bar */
  .search-container form{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-container form input{
    max-width: 30rem;
    padding-left: 1.5rem!important;
  }
  #inner-form-container{
    display: flex;
    align-items: center;
    
    gap: .2rem;
    
    
  }
  #inner-form-container button{
    
    /* border-radius: 10px; */
    padding: 7px;
    border: 3px solid #c8c8c8;
    position: relative;
    left: 1.1rem;
    border-radius: 10px 0 0 10px;
    background-color: white;
  }

  @media (min-width: 480px) {
    .responstable th:nth-child(2) span {
      display: block;
    }
    .responstable th:nth-child(2):after {
      display: none;
    }
  }
  .responstable td {
    display: block;
    word-wrap: break-word;
    max-width: 7em;
  }
  .responstable td:first-child {
    display: table-cell;
    text-align: center;
    border-right: 1px solid #d9e4e6;
  }

  #id{
    width: 2.5rem;
    text-align: center;
  }
  @media (min-width: 480px) {
    .responstable td {
      border: 1px solid #d9e4e6;
    }
  }
  .responstable th,
  .responstable td {
    text-align: left;
    margin: 0.5em 1em;
  }
  @media (min-width: 480px) {
    .responstable th,
    .responstable td {
      display: table-cell;
      padding: 1em;
    }
  }
  
  body {
    padding: 0 2em;
    font-family: Arial, sans-serif;
    color: #024457;
    background: #f2f2f2;
  }
  
  h1 {
    font-family: Verdana;
    font-weight: normal;
    color: #024457;
  }
  h1 span {
    color: #167f92;
  }