/* 
** The Header Media Queries **
** Tweak as per your needs **
*/
.brand {
  font-weight: bold;
  font-size: 20px;
margin: 1rem; }

.site-header {
  position: relative;
  background-color: #707aea;
  padding-right: 2rem;
 }



.site-header__wrapper {
  
  padding-top: .3rem;
  padding-bottom: .3rem; 
  }
  @media (min-width: 600px) {
    .site-header__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 0;
      padding-bottom: 0; } }
@media (min-width: 600px) {
  .nav__wrapper {
    display: flex; } }

@media (max-width: 599px) {
  .nav__wrapper {
    position: absolute;
    margin: 1rem;
    border-radius: .5rem;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: #a38ddd;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out; }
    .nav__wrapper.active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0); } }

.nav__item a {
  display: block;
  padding: .8rem .5rem;
  color: black;
  text-decoration: none;
  }

.nav__item a:hover{
  text-decoration: underline;
}


.nav__toggle {
  display: none; 
cursor: pointer;}
  @media (max-width: 599px) {
    .nav__toggle {
      display: block;
      position: absolute;
      top: 1.8rem;
    right: 2rem;
  background-color: transparent;
border: none; } }

ul{
  list-style: none;
}
