
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}


#search-box{
  width: 80%;
  max-width: 20rem;
  height: 2.5rem;
  padding: .5rem;
  border-radius: .5rem;
  border: .1rem solid black;
  font-size: 1rem;
  
 }
 .search_button{
  width: 5rem;
  height: 2.5rem;
  transform: translate(-14px,0);
  border: .1rem solid black;
  border-radius: 0 5px 5px 0;
  border-left: none;
  background-color: #7e93f9;
  font-size: 1rem;
 }

 table td{
  font-size: 1rem;
 }



body {
  width: 100%;
  padding: 0 0em;
  font-family: Arial, sans-serif;
  color: #024457;
  background-color: #dfdfe8;

}

h1 {
  font-family: Verdana;
  font-weight: normal;
  color: #024457;
  
}
.search-container{
  text-align: center;
}

@media(max-width : 700px){


#search-box{
  width: 60%;
}
.search_button{
  width: 4rem;
}

button.navbar-toggler{
transform: translate(-50px,0);
}

}







