{% extends 'base.html' %}
{% load static %}
{% block content %}



	
	<!--
	************************************************************
	* Intro section
	************************************************************ -->
	<section class="pos-rel pd-tb-large" id="home" data-rgen-sm="pd-tb-small">
		<div class="container align-c pd-tb-medium" data-rgen-sm="pd-tb-small">
			<div class="w75 mr-auto typo-light">
				<p class="f-1 fs30 mr-0">-</p>
				<h2 class="title large" data-rgen-sm="large">AZAD HALL OF RESIDENCE</h2>
				<p class="title-sub" data-rgen-sm="small">प्रणिपातेन परिप्रश्नेन सेवया</p>	

				<a href="#popup-content" class="btn btn-white solid bdr-2 btn-block set-popup" data-rgen-sm="medium bold-n">Sign-In</a>
			</div>
		</div><!-- // END : Container //  -->
		
		
		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z1">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z3" data-bgcolor="rgba(0, 149, 251, 0.7)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z2 full-wh" data-videoid="dorZ3vag5PI"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" data-bg="images/bg7.jpg" class="full-wh bg-cover bg-dark bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Intro section **************  -->
	

	<!--
	************************************************************
	* Content section
	************************************************************ -->
	<section class="pos-rel pd-tb-small pd-b-0" id="about" data-rgen-sm="pd-t-30">
		<div class="container">
			<div class="w75 mr-auto align-c" data-animate-in="fadeIn">
				<h2 class="title" data-rgen-sm="small">_</h2>
				<p class="title-sub" data-rgen-sm="small">Azad Hall of Residence is named after Maulana Abul Kalam Azad. It is famous for having
					started Illumination (Illu). Azad Hall is always reputed for its stellar
					performances in Soc-Cult events, especially Dramatics and Choreography.</p>	
			</div>
			<p class="-mr-b-100" data-rgen-sm="mr-b-20" data-animate-in="fadeInUp"><img src="{% static 'img/azadhall.jpg' %}" alt="image"></p>
		</div><!-- // END : Container //  -->

		<div class="bg-gray pd-tb-small" data-rgen-sm="pd-tb-small">
			<div class="container pd-t-50" data-rgen-sm="pd-t-0">
				<h3 class="title small align-c" data-animate-in="fadeIn">How we work on our projects</h3>
				<hr class="mr-tb-30">
				<div class="row gt20 mb20">
					<div class="col-md-3" data-animate-in="fadeInUp|0.1">
						<div class="info-obj img-l g20 mini mr-0">
							<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-photo-gallery"></i></span></div>
							<div class="info">
								<h3 class="title bold-n tiny mr-b-10">PROTOTYPING</h3>
								<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
							</div>
						</div><!-- info box -->
					</div><!-- // END : column //  -->
					
					<div class="col-md-3" data-animate-in="fadeInUp|0.2"> 
						<div class="info-obj img-l g20 mini mr-0">
							<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-paint-bucket"></i></span></div>
							<div class="info">
								<h3 class="title bold-n tiny mr-b-10">DESIGN PROCESS</h3>
								<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
							</div>
						</div><!-- info box -->
					</div><!-- // END : column //  -->

					<div class="col-md-3" data-animate-in="fadeInUp|0.3">
						<div class="info-obj img-l g20 mini mr-0">
							<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-plugin"></i></span></div>
							<div class="info">
								<h3 class="title bold-n tiny mr-b-10">DEVELOPMENT</h3>
								<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
							</div>
						</div><!-- info box -->
					</div><!-- // END : column //  -->

					<div class="col-md-3" data-animate-in="fadeInUp|0.4">
						<div class="info-obj img-l g20 mini mr-0">
							<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-user"></i></span></div>
							<div class="info">
								<h3 class="title bold-n tiny mr-b-10">USER TESTING</h3>
								<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
							</div>
						</div><!-- info box -->
					</div><!-- // END : column //  -->
				</div><!-- // END : row //  -->

				<hr class="mr-tb-30">

				<div class="w75 mr-auto align-c" data-animate-in="fadeInUp">
					<p class="fs20 txt-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco exaliquip exea commodo proident.</p>
					<p><a href="#" class="btn btn-default bdr-2">Want to know us better?</a></p>
					
				</div>
			</div><!-- // END : Container //  -->
		</div>
	</section>
	<!-- ************** END : Content section **************  -->


	<!--
	************************************************************
	* Content section
	************************************************************ -->
	<section class="pos-rel pd-tb-small" id="casestudies" data-rgen-sm="pd-tb-small">
		<div class="container">
			
			<div class="row gt20 mb20 middle-md">
				<div class="col-md-4" data-animate-in="fadeInLeft">
					
					<h2 class="title" data-rgen-sm="small align-c">Case studies</h2>
					<p class="title-sub small" data-rgen-sm="small align-c">Lorem ipsum dolor sitamet consectetur adipisicing elit ullamut consequatur repellendus amet nemo dignissimos possimus eius fugiat</p>	


					<div class="info-obj img-l g0 mini align-l" data-rgen-sm="mr-b-20 h-reset">
						<div class="img z1 mr-t-10 -mr-r-20" data-rgen-sm="hide"><span class="iconwrp rd bg-default txt-white"><i class="fa fa-quote-left"></i></span></div>
						<div class="info bg-gray pd-tiny rd-5" data-rgen-sm="h-reset">
							<p>Lorem ipsum dolor sit amet, optio exercitationem id, sapiente ea rerum illo, labore voluptatem voluptates! Ea repellendus omnis tempora, impedit numquam. Voluptas atque, dignissimos quisquam.</p>
							<hr>
							<div class="mr-t-10">
								<img src="{% static 'img/azadhall.jpg' %}" class="rd inline-block align-m mr-r-10 max-px-w50" alt="Person">
								<div class="inline-block align-m">
									<h3 class="bold-1 fs16 mr-0">Oupsum dolor</h3>
									<em class="fs12">Creative Director</em>
								</div>
							</div>
						</div>
					</div><!-- // END : Info object //  -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-7 offset-md-1" data-animate-in="fadeInRight">
					<div class="carousel-widget ctrl-1 popgallery-widget">
						<div class="owl-carousel"
							data-nav="true"
							data-dots="true"
							data-margin="20">
							
							<div class="item">
								<figure class="hover-box1 mr-0">
									<div class="overlay flex-cc typo-light">
										<div class="content mr-30 z2">
											<!-- Pop-up Image and link -->
											<a href="images/800x600_1.jpg" class="iconbox sq40 bg-primary fs24 mr-6 pop-img"><i class="pe-7s-expand1"></i></a>
											<a href="#" target="_blank" class="iconbox sq40 bg-primary fs24 mr-6"><i class="pe-7s-exapnd2"></i></a>
										</div>
										<b class="full-wh bg-dark op-08 z1 l0"></b>
									</div>
									<!-- Project image -->
									<img src="images/800x600_1.jpg" alt="image">
								</figure><!-- / hover box -->
								<div class="pd-tiny bg-default typo-light" data-rgen-sm="pd-20">
									<h2 class="title small">Lorem ipsum dolor sitamet consectetur</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
								</div>
							</div><!-- /.item -->

							<div class="item">
								<figure class="hover-box1 mr-0">
									<div class="overlay flex-cc typo-light">
										<div class="content mr-30 z2">
											<!-- Pop-up Image and link -->
											<a href="images/800x600_2.jpg" class="iconbox sq40 bg-primary fs24 mr-6 pop-img"><i class="pe-7s-expand1"></i></a>
											<a href="#" target="_blank" class="iconbox sq40 bg-primary fs24 mr-6"><i class="pe-7s-exapnd2"></i></a>
										</div>
										<b class="full-wh bg-dark op-08 z1 l0"></b>
									</div>
									<!-- Project image -->
									<img src="images/800x600_2.jpg" alt="image">
								</figure><!-- / hover box -->
								<div class="pd-tiny bg-default typo-light" data-rgen-sm="pd-20">
									<h2 class="title small">Lorem ipsum dolor sitamet consectetur</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
								</div>
							</div><!-- /.item -->

						</div><!-- /.owl-carousel -->
					</div><!-- /.carousel-widget -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Slider section **************  -->



	<!--
	************************************************************
	* Features section
	************************************************************ -->
	<section class="pos-rel pd-tb-small" id="services" data-rgen-sm="pd-tb-small">
		<div class="container">
			<div class="w75 mr-auto align-c typo-light" data-animate-in="fadeIn">
				<h2 class="title" data-rgen-sm="small">Services we offer</h2>
				<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sitamet consectetur adipisicing elit ullamut consequatur repellendus amet nemo dignissimos possimus eius fugiat</p>	
			</div>
			
			<div class="rw eq3 gt10 mb10">
				<div class="cl" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-t g20 mini align-c h100 bg-white pd-tiny shadow-tiny mr-0">
						<div class="img txt-dark"><span class="iconwrp"><i class="pe-7s-rocket"></i></span></div>
						<div class="info">
							<h3 class="title mini">UX DESIGN</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
				
				<div class="cl" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-t g20 mini align-c h100 bg-white pd-tiny shadow-tiny mr-0">
						<div class="img txt-dark"><span class="iconwrp"><i class="pe-7s-browser"></i></span></div>
						<div class="info">
							<h3 class="title mini">INTERFACE DESIGN</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="cl" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-t g20 mini align-c h100 bg-white pd-tiny shadow-tiny mr-0">
						<div class="img txt-dark"><span class="iconwrp"><i class="pe-7s-phone"></i></span></div>
						<div class="info">
							<h3 class="title mini">APP DEVELOPMENT</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="cl" data-animate-in="fadeInUp|0.4">
					<div class="info-obj img-t g20 mini align-c h100 bg-white pd-tiny shadow-tiny mr-0">
						<div class="img txt-dark"><span class="iconwrp"><i class="pe-7s-global"></i></span></div>
						<div class="info">
							<h3 class="title mini">WEB DEVELOPMENT</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="cl" data-animate-in="fadeInUp|0.5">
					<div class="info-obj img-t g20 mini align-c h100 bg-white pd-tiny shadow-tiny mr-0">
						<div class="img txt-dark"><span class="iconwrp"><i class="pe-7s-mouse"></i></span></div>
						<div class="info">
							<h3 class="title mini">SOFTWARE SOLUTIONS</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="cl" data-animate-in="fadeInUp|0.6">
					<div class="info-obj img-t g20 mini align-c h100 bg-white pd-tiny shadow-tiny mr-0">
						<div class="img txt-dark"><span class="iconwrp"><i class="pe-7s-paint"></i></span></div>
						<div class="info">
							<h3 class="title mini">PRINT MEDIA</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->

		</div><!-- // END : Container //  -->
		

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z1">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0.2)"></b>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg21.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" data-bg="" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Features section **************  -->



	<!--
	************************************************************
	* Brand logo sections
	************************************************************ -->
	<section class="pd-tb-mini bg-gray" data-rgen-sm="pd-tb-small">
		<div class="container align-c" data-animate-in="fadeIn">
			<h2 class="title small">Trusted by some of amazing people</h2>

			<ul class="inline-list gt-small size-small reset op-05">
				<li><img src="images/brand-logo1.png" alt="brand"></li>
				<li><img src="images/brand-logo2.png" alt="brand"></li>
				<li><img src="images/brand-logo3.png" alt="brand"></li>
				<li><img src="images/brand-logo4.png" alt="brand"></li>
				<li><img src="images/brand-logo5.png" alt="brand"></li>
				<li><img src="images/brand-logo6.png" alt="brand"></li>
			</ul>
		</div>
	</section>
	<!-- ************** END : Brand logo sections **************  -->

	

	<!--
	************************************************************
	* Portfolio section
	************************************************************ -->
	<section class="pos-rel pd-tb-small" data-rgen-sm="pd-tb-small" id="portfolio">
		<div class="container align-c">
			<div class="w75 mr-auto align-c" data-animate-in="fadeIn">
				<h2 class="title" data-rgen-sm="small">Our work</h2>
				<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sitamet consectetur adipisicing elit ullamut consequatur repellendus amet nemo dignissimos possimus eius fugiat</p>	
			</div>

			<ul class="rw eq3 gt10 mb10 popgallery-widget">
				<li class="cl" data-animate-in="fadeInUp|0.1">
					<figure class="hover-box1">
						<div class="overlay flex-cc typo-light">
							<div class="content mr-30 z2">
								<!-- Pop-up Image and link -->
								<a href="images/mockup-01.jpg" class="iconbox sq50 bg-default rd fs24 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
								<a href="https://goo.gl/ZMxnYs" target="_blank" class="iconbox sq50 bg-default rd fs24 mr-b-20"><i class="pe-7s-exapnd2"></i></a>
								
								<!-- Text content -->
								<h3 class="title mini bold-n mr-b-10">Project name will come</h3>
								<p class="mr-0 fs12 op-08">Lorem ipsum dolor sit amet consectetur</p>
							</div>
							<b class="full-wh bg-dark op-08 z1 l0"></b>
						</div>
						<!-- Project image -->
						<img src="images/mockup-01.jpg" alt="image">
					</figure><!-- / hover box -->
				</li><!-- // END : column //  -->

				<li class="cl" data-animate-in="fadeInUp|0.2">
					<figure class="hover-box1">
						<div class="overlay flex-cc typo-light">
							<div class="content mr-30 z2">
								<!-- Pop-up Image and link -->
								<a href="images/mockup-02.jpg" class="iconbox sq50 bg-default rd fs24 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
								<a href="https://goo.gl/ZMxnYs" target="_blank" class="iconbox sq50 bg-default rd fs24 mr-b-20"><i class="pe-7s-exapnd2"></i></a>
								
								<!-- Text content -->
								<h3 class="title mini bold-n mr-b-10">Project name will come</h3>
								<p class="mr-0 fs12 op-08">Lorem ipsum dolor sit amet consectetur</p>
							</div>
							<b class="full-wh bg-dark op-08 z1 l0"></b>
						</div>
						<!-- Project image -->
						<img src="images/mockup-02.jpg" alt="image">
					</figure><!-- / hover box -->
				</li><!-- // END : column //  -->

				<li class="cl" data-animate-in="fadeInUp|0.3">
					<figure class="hover-box1">
						<div class="overlay flex-cc typo-light">
							<div class="content mr-30 z2">
								<!-- Pop-up Image and link -->
								<a href="images/mockup-03.jpg" class="iconbox sq50 bg-default rd fs24 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
								<a href="https://goo.gl/ZMxnYs" target="_blank" class="iconbox sq50 bg-default rd fs24 mr-b-20"><i class="pe-7s-exapnd2"></i></a>
								
								<!-- Text content -->
								<h3 class="title mini bold-n mr-b-10">Project name will come</h3>
								<p class="mr-0 fs12 op-08">Lorem ipsum dolor sit amet consectetur</p>
							</div>
							<b class="full-wh bg-dark op-08 z1 l0"></b>
						</div>
						<!-- Project image -->
						<img src="images/mockup-03.jpg" alt="image">
					</figure><!-- / hover box -->
				</li><!-- // END : column //  -->

				<li class="cl" data-animate-in="fadeInUp|0.1">
					<figure class="hover-box1">
						<div class="overlay flex-cc typo-light">
							<div class="content mr-30 z2">
								<!-- Pop-up Image and link -->
								<a href="images/mockup-04.jpg" class="iconbox sq50 bg-default rd fs24 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
								<a href="https://goo.gl/ZMxnYs" target="_blank" class="iconbox sq50 bg-default rd fs24 mr-b-20"><i class="pe-7s-exapnd2"></i></a>
								
								<!-- Text content -->
								<h3 class="title mini bold-n mr-b-10">Project name will come</h3>
								<p class="mr-0 fs12 op-08">Lorem ipsum dolor sit amet consectetur</p>
							</div>
							<b class="full-wh bg-dark op-08 z1 l0"></b>
						</div>
						<!-- Project image -->
						<img src="images/mockup-04.jpg" alt="image">
					</figure><!-- / hover box -->
				</li><!-- // END : column //  -->

				<li class="cl" data-animate-in="fadeInUp|0.2">
					<figure class="hover-box1">
						<div class="overlay flex-cc typo-light">
							<div class="content mr-30 z2">
								<!-- Pop-up Image and link -->
								<a href="images/mockup-05.jpg" class="iconbox sq50 bg-default rd fs24 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
								<a href="https://goo.gl/ZMxnYs" target="_blank" class="iconbox sq50 bg-default rd fs24 mr-b-20"><i class="pe-7s-exapnd2"></i></a>
								
								<!-- Text content -->
								<h3 class="title mini bold-n mr-b-10">Project name will come</h3>
								<p class="mr-0 fs12 op-08">Lorem ipsum dolor sit amet consectetur</p>
							</div>
							<b class="full-wh bg-dark op-08 z1 l0"></b>
						</div>
						<!-- Project image -->
						<img src="images/mockup-05.jpg" alt="image">
					</figure><!-- / hover box -->
				</li><!-- // END : column //  -->

				<li class="cl" data-animate-in="fadeInUp|0.3">
					<figure class="hover-box1">
						<div class="overlay flex-cc typo-light">
							<div class="content mr-30 z2">
								<!-- Pop-up Image and link -->
								<a href="images/mockup-06.jpg" class="iconbox sq50 bg-default rd fs24 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
								<a href="https://goo.gl/ZMxnYs" target="_blank" class="iconbox sq50 bg-default rd fs24 mr-b-20"><i class="pe-7s-exapnd2"></i></a>
								
								<!-- Text content -->
								<h3 class="title mini bold-n mr-b-10">Project name will come</h3>
								<p class="mr-0 fs12 op-08">Lorem ipsum dolor sit amet consectetur</p>
							</div>
							<b class="full-wh bg-dark op-08 z1 l0"></b>
						</div>
						<!-- Project image -->
						<img src="images/mockup-06.jpg" alt="image">
					</figure><!-- / hover box -->
				</li><!-- // END : column //  -->
			</ul><!-- // END : Row //  -->
			
			<a href="#" class="btn btn-dark large solid mr-t-40">View more our work</a>
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Portfolio section **************  -->



	<!--
	************************************************************
	* Call to action section
	************************************************************ -->
	<section class="pd-tb-mini bg-default pos-rel" data-rgen-sm="pd-tb-small align-c">
		<div class="container typo-light">

			<div class="row gt20 middle-md">
				<div class="col-md-6" data-rgen-sm="mr-b-30" data-animate-in="fadeInLeft">
					<h2 class="title" data-rgen-sm="large">Ready to get started?</h2>
					<h3 class="title-sub mini mr-0" data-rgen-sm="small">Lorem ipsum dolor sit amet, consecteturin ligula convallis, vel consecteturin ligula convallis tincidunt.</h3>	
				</div><!-- // END : column //  -->

				<div class="col-md-3 offset-md-1" data-rgen-sm="mr-b-30" data-animate-in="fadeInRight">
					<div class="info-obj img-l g10 mini mid mr-0" data-rgen-sm="img-t">
						<div class="img txt-white"><span class="iconwrp"><i class="pe-7s-call"></i></span></div>
						<div class="info">
							<p class="mr-0 title-sub mini">Call us on</p>
							<h3 class="mr-0 title mini">1-123-456-7890</h3>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-2" data-animate-in="fadeInRight">
					<a href="#popup-content" class="btn btn-white solid bdr-2 btn-block set-popup" data-rgen-sm="medium bold-n">Contact us</a>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->

		</div><!-- container -->
	</section>
	<!-- ************** END : Call to action section **************  -->

	

	<!--
	************************************************************
	* Testimonial section
	************************************************************ -->
	<section class="pd-tb-small pos-rel bg-gray" data-rgen-sm="pd-tb-small" id="testimonials">
		<div class="container">
			<div class="w75 mr-auto align-c mr-b-60" data-animate-in="fadeIn">
				<h2 class="title" data-rgen-sm="small">What our customers say</h2>
				<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sitamet consectetur adipisicing elit ullamut consequatur repellendus amet nemo dignissimos possimus eius fugiat</p>	
			</div>

			<div class="row gt40 mb20">
				<div class="col-md-4" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-t g20 mini pd-tiny bg-white rd-6 -mr-b-10 shadow-tiny">
						<div class="img"><span class="iconwrp rd bg-default txt-white -mr-t-50"><i class="fa fa-quote-left"></i></span></div>
						<div class="info">
							<p class="fs16">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
						</div>
					</div><!-- info box -->
					<div class="info-obj img-l g10 small mid pd-lr-20">
						<div class="img bdr-4 bdr-white shadow-small rd"><img src="images/person1.jpg" class="rd" alt="image"></div>
						<div class="info pd-tb-20">
							<h3 class="fs16 bold-n mr-0">Oupsum dolor</h3>
							<em class="fs12">Creative Director</em>
						</div>
					</div><!-- / info object -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-4" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-t g20 mini pd-tiny bg-white rd-6 -mr-b-10 shadow-tiny">
						<div class="img"><span class="iconwrp rd bg-default txt-white -mr-t-50"><i class="fa fa-quote-left"></i></span></div>
						<div class="info">
							<p class="fs16">Sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
						</div>
					</div><!-- info box -->
					<div class="info-obj img-l g10 small mid pd-lr-20">
						<div class="img bdr-4 bdr-white shadow-small rd"><img src="images/person3.jpg" class="rd" alt="image"></div>
						<div class="info pd-tb-20">
							<h3 class="fs16 bold-n mr-0">Oupsum dolor</h3>
							<em class="fs12">Creative Director</em>
						</div>
					</div><!-- / info object -->
				</div><!-- // END : column //  -->

				<div class="col-md-4" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-t g20 mini pd-tiny bg-white rd-6 -mr-b-10 shadow-tiny">
						<div class="img"><span class="iconwrp rd bg-default txt-white -mr-t-50"><i class="fa fa-quote-left"></i></span></div>
						<div class="info">
							<p class="fs16">Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
						</div>
					</div><!-- info box -->
					<div class="info-obj img-l g10 small mid pd-lr-20">
						<div class="img bdr-4 bdr-white shadow-small rd"><img src="images/person2.jpg" class="rd" alt="image"></div>
						<div class="info pd-tb-20">
							<h3 class="fs16 bold-n mr-0">Oupsum dolor</h3>
							<em class="fs12">Creative Director</em>
						</div>
					</div><!-- / info object -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
			
		</div><!-- // END : container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Testimonial section **************  -->


	<!--
	************************************************************
	* Footer section
	************************************************************ -->
	
	<!-- ************** END : Footer section **************  -->


	<!--
	************************************************************
	* Popup form block
	************************************************************ -->
	
	<!-- form : "mfp-hide" Add this class before using -->
	<div id="popup-content" class="white-popup-block popup-content max-w60 mfp-hide" data-rgen-sm="w-reset" data-rgen-md="w-reset" style="background-image: '{% static 'img/azadhall.jpg' %}'';">
		<div class="bdr-20 bdr-default">
			<div class="pop-header pd-b-0" data-rgen-sm="pd-20">
				<div class="row gt20 mb20">
					<div class="col-md-4">
						<div class="info-obj img-l g20 tiny mr-0 align-l">
							<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-map-marker"></i></span></div>
							<div class="info">
								<h3 class="title mini mr-b-4">Address</h3>
								<p class="mr-0">PO Box 16122, Collins Street West,<br>Victoria 8007, Australia</p>
							</div>
						</div><!-- info box -->
					</div><!-- // END : column //  -->
					
					<div class="col-md-4">
						<div class="info-obj img-l g20 tiny mr-0 align-l">
							<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-call"></i></span></div>
							<div class="info">
								<h3 class="title mini mr-b-4">Phone</h3>
								<p class="mr-0"><strong>Office : </strong> 1-123-456-7890,<br> <strong>FAX : </strong> 1-123-456-7890</p>
							</div>
						</div><!-- info box -->
					</div><!-- // END : column //  -->

					<div class="col-md-4">
						<div class="info-obj img-l g20 tiny mr-0 align-l">
							<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-mail"></i></span></div>
							<div class="info">
								<h3 class="title mini mr-b-4">Email</h3>
								<p class="mr-0"><a href="#">support@abcxyz.com</a><br><a href="#">admin@abcxyz.com</a></p>
							</div>
						</div><!-- info box -->
					</div><!-- // END : column //  -->
				</div><!-- // END : row //  -->

			</div>
			<div class="pop-body" data-rgen-sm="pd-20">
				<div class="row gt40 mb20">
					<div class="col-md-6" data-rgen-sm="px-h400">
						<!--=================================
						= Map section
						==================================-->
						<!-- Google map -->
						<div class="google-map-container" data-zoom="16" data-center="PO Box 16122, Collins Street West, Victoria 8007, Australia">
							<div class="google-map" style="height: 400px;"></div>
							<ul class="google-map-markers">
							</ul>
						</div>
					</div><!-- // END : column //  -->
					
					<div class="col-md-6">
						<!-- form-block -->
						<div class="form-block align-l">
							<form action="http://landingpages.rgenesis.com/demos/form-data/formdata.php" class="form-widget">
								<div class="field-wrp">
									<input type="hidden" name="to" value="r.genesis.art@gmail.com">
									<div class="form-group">
										<input class="form-control" data-label="Name" required data-msg="Please enter name." type="text" name="name" placeholder="Enter your name">
									</div>
									<div class="form-group">
										<input class="form-control" data-label="Email" required data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
									</div>
									<div class="form-group">
										<input class="form-control" required data-label="Phone" data-msg="Please phone number." type="text" name="phone" placeholder="Enter your phone number">
									</div>
									<div class="form-group">
										<textarea class="form-control" data-label="Message" required data-msg="Please enter your message." name="message" placeholder="Add your message" cols="30" rows="10"></textarea>
									</div>
								</div>
								<button type="submit" class="btn solid btn-dark"><i class="far fa-envelope"></i> SUBMIT</button>
							</form><!-- / form -->
						</div><!-- / form block -->
					</div><!-- // END : column //  -->
				</div><!-- // END : row //  -->
				
			</div>
		</div>
	</div><!-- /#popup-content -->
	<!-- ************** END : Popup form block **************  -->

	

	<!-- JavaScript -->
	<script>
	/* Use fonts with class name in sequence => f-1, f-2, f-3 .... */
	var fgroup = [
		'Rancho'
	];
	</script>


</div>
<!-- /#page --> 



<!--====== SERVICES PART ENDS ======-->
<!--====== Javascript Files ======-->
<!-- <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/glightbox.min.js' %}"></script>
<script src="{% static 'js/count-up.min.js' %}"></script>
<script src="{% static 'js/particles.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script> -->
{% endblock %}