{% extends 'base.html' %}
{% load static %}
{% block content %}
  
  
<section class="event">
  <div class="container" style="background-color:#E3E2DF; height: 500px;" data-aos="flip-up"
  data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12 heading-section ftco-animate">
            <h2 class="mb-4">General Championship</h2>
          </div>
        <div style="padding-left: 100px; font-size: 18px; font-weight: 400;">
          <p class="event_info">The General Championship at IIT KGP is a series of competitions and events that are organized by the student body of the Indian Institute of Technology Kharagpur (IIT KGP). These events typically involve various sports, cultural activities, and other activities that showcase the talent and diversity of the student body.
            The purpose of the General Championship is to provide a platform for students to compete and showcase their skills, while also fostering a sense of community and school spirit. It is typically held over the course of a week or more and involves competitions between different halls of residence, student organizations, and other groups within the IIT KGP community.
            <br/><br/>Some examples of events that might be part of the General Championship include sports tournaments, music and dance competitions, debate and quiz contests, and other cultural and recreational activities. The exact nature of the events and activities included in the General Championship may vary from year to year.
     </p></div>
        </div> 
        </div>
        </div>
  </div>
</section>
<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7 heading-section ftco-animate">
        <h2 class="mb-4"><span>Recent Meet</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 order-md-last col-lg-6 ftco-animate">
        <div class="blog-entry">
          <div
            class="img img-bg d-flex align-items-end"
            style="
              background-image: url({% static 'blogs/images/w_lifting1.jpg'%}); background-position:center;" >
            <div class="overlay"></div>
          </div>
          <div class="text pt-3">
            <p class="meta d-flex">
              <span class="pr-3">Inter Hall</span
              ><span class="ml-auto pl-3">Session 2021-22</span>
            </p>
            <h3>
              WeightLifting
            </h3>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6 ftco-animate">
            <div class="blog-entry">
              <a
                href="single.html"
                class="img d-flex align-items-end"
                style="
                  background-image: url({% static 'blogs/images/cricket.jpg'%});
                "
              >
                <div class="overlay"></div>
              </a>
              <div class="text pt-3">
                <p class="meta d-flex">
                  <span class="pr-3">Inter Hall</span
                  ><span class="ml-auto pl-3">Session 2021-22</span>
                </p>
                <h3>
                  <a href="single.html">Cricket</a>
                </h3>

              </div>
            </div>
          </div>
          <div class="col-md-6 ftco-animate">
            <div class="blog-entry">
              <a
                href="single.html"
                class="img d-flex align-items-end"
                style="
                  background-image: url({% static 'blogs/images/hockey1.jpg'%});
                "
              >
                <div class="overlay"></div>
              </a>
              <div class="text pt-3">
                <p class="meta d-flex">
                  <span class="pr-3">Inter Hall</span
                  ><span class="ml-auto pl-3">Session 2021-22</span>
                </p>
                <h3>
                Hockey
                </h3>

              </div>
            </div>
          </div>
          <div class="col-md-6 ftco-animate">
            <div class="blog-entry">
              <a
                href="single.html"
                class="img d-flex align-items-end"
                style="
                  background-image: url({% static 'blogs/images/badminton.jpg'%});
                "
              >
                <div class="overlay"></div>
              </a>
              <div class="text pt-3">
                <p class="meta d-flex">
                  <span class="pr-3">Inter Hall</span
                  ><span class="ml-auto pl-3">Session 2019-20</span>
                </p>
                <h3>
                  Badminton
                </h3>

              </div>
            </div>
          </div>
          <div class="col-md-6 ftco-animate">
            <div class="blog-entry">
              <a
                href="single.html"
                class="img d-flex align-items-end"
                style="
                  background-image: url({% static 'blogs/images/chess.jpg'%});
                "
              >
                <div class="overlay"></div>
              </a>
              <div class="text pt-3">
                <p class="meta d-flex">
                  <span class="pr-3">Inter Hall</span
                  ><span class="ml-auto pl-3">Session 2021-22</span>
                </p>
                <h3>
                 Chess
                </h3>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="event">
  <div class="container" style="background-color:#DEF2F1;" data-aos="flip-up" data-aos-easing="ease-in-sine" data-aos-duration="500">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12 heading-section ftco-animate">
            <h2 class="mb-4">SOCULT NIGHT</h2>
          </div>
        <div style="padding-left: 100px; font-size: 18px; font-weight:400 ;">
          <p  class="event_info">Socult Night was an initiative taken by Mr. Himanshu Kanodia in 2017 to strengthen the bonding among junior batches and let everyone enjoy moments of fun and happiness during tiring times. The purpose of Socult Night is not to compete against each other and win the coveted "Best Wing Award", but to enjoy, encourage and make memories to be be cherished. The junior wings are divided into teams and each teams performs a certain set of events. The best performing wing is given the award of best wing.

            <br/>The true spirit of Socult Night is to compete against each other in a friendly and joyful manner to express our unity and camaraderie.KHOJ: The Ultimate Treasure Hunt is the Largest and the most exciting event for Freshers, organized by Azad Hall of Residence, IIT Kharagpur.
     </p></div>
        </div> 
        </div>
        </div>
  </div>
</section>
<section class="ftco-section ftco-no-pt">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="row">
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <div class="img-2"><img
                  src="{% static 'blogs/images/dance.jpg' %}"
                  class="img-fluid"
                  alt="Colorlib Template"
              /></div>
              <div class="text pt-3">
                <p class="meta d-flex">
                  <span class="pr-3">Socult Night</span
                  ><span class="ml-auto pl-3">Year-2022</span>
                </p>
                <h3>
                  Dance
                </h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="single.html" class="img-2"
                ><img
                  src="{% static 'blogs/images/music.jpg' %}"
                  class="img-fluid"
                  alt="Colorlib Template"
              /></a>
              <div class="text pt-3">
                <p class="meta d-flex">
                  <span class="pr-3">Socult Night</span
                  ><span class="ml-auto pl-3">Year-2022</span>
                </p>
                <h3>
                Music
                </h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="single.html" class="img-2"
                ><img
                  src="{% static 'blogs/images/skit.jpg' %}"
                  class="img-fluid"
                  alt="Colorlib Template"
              /></a>
              <div class="text pt-3">
                <p class="meta d-flex">
                  <span class="pr-3">Socult Night</span
                  ><span class="ml-auto pl-3">Year-2022</span>
                </p>
                <h3>
                  Skit
                </h3>
               <br/>      
               <br/>      
               <br/>
              </div>
            </div>
          </div>
        </div>
      </div></div></div></section>

  <!--- <section class="home-slider owl-carousel">
      {% for item in itemlist%}
      <div class="slider-item">
        <div class="container">
          <div
            class="row d-flex slider-text justify-content-center align-items-center"
            data-scrollax-parent="true"
          >
            <div
              class="img"
            style="background-image: url({% static item.image %})"
            ></div>
            <div class="text d-flex align-items-center ftco-animate">
              <div class="text-2 pb-lg-5 mb-lg-4 px-4 px-md-5">
                <h3 class="subheading mb-3">Featured Posts</h3>
                <h1 class="mb-5">{{item.title}}</h1>
                <p class="mb-md-5">{{item.description}}</p>
                <p>
                  <a href="index.html#" class="btn btn-black px-3 px-md-4 py-3"
                    >Read More <span class="icon-arrow_forward ml-lg-4"></span
                  ></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </section>
    <section class="ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7 heading-section ftco-animate">
            <h2 class="mb-4"><span>Recent Stories</span></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 order-md-last col-lg-6 ftco-animate">
            <div class="blog-entry">
              <div
                class="img img-big d-flex align-items-end"
                style="
                  background-image: url({% static 'blogs/images/image_2.jpg'%});
                
              >
                <div class="overlay"></div>
                <div class="text">
                  <span class="subheading">Food</span>
                  <h3><a href="single.html">Tasty &amp; Delicious Foods</a></h3>
                  <p class="mb-0">
                    <a href="single.html" class="btn-custom"
                      >Read More <span class="icon-arrow_forward ml-4"></span
                    ></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6 ftco-animate">
                <div class="blog-entry">
                  <a
                    href="single.html"
                    class="img d-flex align-items-end"
                    style="
                      background-image: url({% static 'blogs/images/image_1.jpg'%});
                    "
                  >
                    <div class="overlay"></div>
                  </a>
                  <div class="text pt-3">
                    <p class="meta d-flex">
                      <span class="pr-3">Inter Hall</span
                      ><span class="ml-auto pl-3">Session 2019-20</span>
                    </p>
                    <h3>
                      <a href="single.html">Tasty &amp; Delicious Foods</a>
                    </h3>
                    <p class="mb-0">
                      <a href="single.html" class="btn-custom"
                        >Read More <span class="icon-arrow_forward ml-4"></span
                      ></a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 ftco-animate">
                <div class="blog-entry">
                  <a
                    href="single.html"
                    class="img d-flex align-items-end"
                    style="
                      background-image: url({% static 'blogs/images/image_3.jpg'%});
                    "
                  >
                    <div class="overlay"></div>
                  </a>
                  <div class="text pt-3">
                    <p class="meta d-flex">
                      <span class="pr-3">Inter Hall</span
                      ><span class="ml-auto pl-3">Session 2019-20</span>
                    </p>
                    <h3>
                      <a href="single.html"
                        >Tasty &amp; Delicious Foods from Scotland</a
                      >
                    </h3>
                    <p class="mb-0">
                      <a href="single.html" class="btn-custom"
                        >Read More <span class="icon-arrow_forward ml-4"></span
                      ></a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 ftco-animate">
                <div class="blog-entry">
                  <a
                    href="single.html"
                    class="img d-flex align-items-end"
                    style="
                      background-image: url({% static 'blogs/images/image_4.jpg'%});
                    "
                  >
                    <div class="overlay"></div>
                  </a>
                  <div class="text pt-3">
                    <p class="meta d-flex">
                      <span class="pr-3">Inter Hall</span
                      ><span class="ml-auto pl-3">Session 2019-20</span>
                    </p>
                    <h3>
                      <a href="single.html">Tasty &amp; Delicious Foods</a>
                    </h3>
                    <p class="mb-0">
                      <a href="single.html" class="btn-custom"
                        >Read More <span class="icon-arrow_forward ml-4"></span
                      ></a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 ftco-animate">
                <div class="blog-entry">
                  <a
                    href="single.html"
                    class="img d-flex align-items-end"
                    style="
                      background-image: url({% static 'blogs/images/image_5.jpg'%});
                    "
                  >
                    <div class="overlay"></div>
                  </a>
                  <div class="text pt-3">
                    <p class="meta d-flex">
                      <span class="pr-3">Inter Hall</span
                      ><span class="ml-auto pl-3">Session 2019-20</span>
                    </p>
                    <h3>
                      <a href="single.html">Tasty &amp; Delicious Foods</a>
                    </h3>
                    <p class="mb-0">
                      <a href="single.html" class="btn-custom"
                        >Read More <span class="icon-arrow_forward ml-4"></span
                      ></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ftco-section ftco-no-pt">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <div class="row">
              <div class="col-md-12 heading-section ftco-animate">
                <h2 class="mb-4"><span>Featured Posts</span></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 ftco-animate">
                <div class="blog-entry">
                  <a href="single.html" class="img-2"
                    ><img
                      src="{% static 'blogs/images/blog-1.jpg' %}"
                      class="img-fluid"
                      alt="Colorlib Template"
                  /></a>
                  <div class="text pt-3">
                    <p class="meta d-flex">
                      <span class="pr-3">Inter Hall</span
                      ><span class="ml-auto pl-3">Session 2019-20</span>
                    </p>
                    <h3>
                      Tasty &amp; Delicious Foods</a>
                    </h3>
                    <p class="mb-0">
                      <a href="single.html" class="btn btn-black py-2"
                        >Read More <span class="icon-arrow_forward ml-4"></span
                      ></a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 ftco-animate">
                <div class="blog-entry">
                  <a href="single.html" class="img-2"
                    ><img
                      src="{% static 'blogs/images/blog-2.jpg' %}"
                      class="img-fluid"
                      alt="Colorlib Template"
                  /></a>
                  <div class="text pt-3">
                    <p class="meta d-flex">
                      <span class="pr-3">Inter Hall</span
                      ><span class="ml-auto pl-3">Session 2019-20</span>
                    </p>
                    <h3>
                      Tasty &amp; Delicious Foods</a>
                    </h3>
                    <p class="mb-0">
                      <a href="single.html" class="btn btn-black py-2"
                        >Read More <span class="icon-arrow_forward ml-4"></span
                      ></a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 ftco-animate">
                <div class="blog-entry">
                  <a href="single.html" class="img-2"
                    ><img
                      src="{% static 'blogs/images/blog-3.jpg' %}"
                      class="img-fluid"
                      alt="Colorlib Template"
                  /></a>
                  <div class="text pt-3">
                    <p class="meta d-flex">
                      <span class="pr-3">Inter Hall</span
                      ><span class="ml-auto pl-3">Session 2019-20</span>
                    </p>
                    <h3>
                      Tasty &amp; Delicious Foods</a>
                    </h3>
                    <p class="mb-0">
                      <a href="single.html" class="btn btn-black py-2"
                        >Read More <span class="icon-arrow_forward ml-4"></span
                      ></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="sidebar-wrap">
              <div class="sidebar-box p-4 about text-center ftco-animate">
                <h2 class="heading mb-4">About Me</h2>
                <img
                  src="{% static 'blogs/images/author.jpg' %}"
                  class="img-fluid"
                  alt="Colorlib Template"
                />
                <div class="text pt-4">
                  <p>
                    Hi! My name is <strong>Cathy Deon</strong>, behind the word
                    mountains, far from the countries Vokalia and Consonantia,
                    there live the blind texts. Separated they live in
                    Bookmarksgrove right at the coast of the Semantics, a large
                    language ocean.
                  </p>
                </div>
              </div>
              <div class="sidebar-box p-4 ftco-animate">
                <form action="index.html#" class="search-form">
                  <div class="form-group">
                    <span class="icon icon-search"></span>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>-->
    <section
      class="ftco-section ftco-no-pt ftco-section-about ftco-no-pb bg-darken"
    >
      <div class="container-fluid">
        <div class="row">
          <div
            class="col-sm-6 col-md-6 col-lg-9 order-md-last img py-5"
            style="background-image: url({% static 'blogs/images/bg_3.png'%})"
          ></div>
          <div
            class="col-sm-6 col-md-6 col-lg-3 py-4 text d-flex align-items-center ftco-animate"
          >
            <div class="text-2 py-5 px-4">
              <p class="mb-5">
                <a
                  href="https://vimeo.com/783322087"
                  class="btn-custom popup-vimeo"
                  >Watch Video <span class="ion-ios-play ml-4"></span
                ></a>
              </p>
              <h2 class="mb-5" style="color: aliceblue;">
                ILLUMINATION
              </h2>
              <p class="mb-md-5">
                Illumination (also popular as Illu) is a tradition followed by every hall of residence at IIT Kharagpur pytduring the Diwali festival every year. Large grid structures (called chatai) made of bamboo stripes are used as a framework on which wire loops are mounted to support earthen lamps, known as Diyas. The Diyas form a pattern based on a theme decided by the respective student hall. The event is attended by students from different halls of residence, alumni, faculty, and guests of honor from outside the institute. Judges are selected from amongst the faculty and take multiple routes to visit the different halls, starting at the Technology Students' Gymkhana (TSG).
              </p>
              <span class="signature">AZAD</span>
            </div>
          </div>
        </div>
      </div>
      
    </section>
    <section class="ftco-section ftco-no-pt">
      <div class="container">
        <div class="row">
    <section class="illu">
      <div class="row">
      <div class=" col-12 col-md-4 col-sm-6">
      <div class="flip-card" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="500">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="{% static 'blogs/images/illu22.jpg' %}" alt="2022" >
          </div>
          <div class="flip-card-back">
            <h1>ILLUMINATION 2022</h1>
            <h3 style="color: darksalmon;">Theme :</h3>
            <p style="font-weight: 500; color: #100f10;">Lord Vishnu's Matasya Avatar and Seven Rishis</p>
            
          </div>
        </div>
      </div>
      </div>
      <div class="col-12 col-md-4 col-sm-6">
        <div class="flip-card" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-delay="500">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="{% static 'blogs/images/illu1.jpg' %}" alt="2019" >
            </div>
            <div class="flip-card-back">
              <h1>ILLUMINATION 2019</h1>
              <h3 style="color: darksalmon;">Theme :</h3>
              <p style="font-weight: 500; color: #100f10;">KGP's transformation from a Detention Center to World-class Institue</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class=" col-12 col-md-4 col-sm-6">
        <div class="flip-card" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-delay="1000">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="{% static 'blogs/images/illu6.png' %}" alt="2019" >
            </div>
            <div class="flip-card-back">
              <h1>ILLUMINATION 2018</h1>
              <h3 style="color: darksalmon;">Theme :</h3>
              <p style="font-weight: 500; color: #100f10;">Lakshmi-Vishnu  &  Sita-Ram</p>
            </div>
          </div>
        </div>
      </div>
      </div>
      
      
        <div class="il">
          <div class="row">
            <div class=" col-12 col-md-4 col-sm-6">
              <div class="flip-card" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-delay="1000">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="{% static 'blogs/images/illu1.png' %}" alt="2019" >
                  </div>
                  <div class="flip-card-back">
                    <h1>ILLUMINATION 2017</h1>
                    <h3 style="color: darksalmon;">Theme :</h3>
                    <p style="font-weight: 500; color: #100f10;">jch</p>
                  </div>
                </div>
              </div>
            </div>
            
        <div class=" col-12 col-md-4 col-sm-6">
          <div class="flip-card" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-delay="500">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="{% static 'blogs/images/illu4.jpg' %}" alt="2019" >
              </div>
              <div class="flip-card-back">
                <h1>ILLUMINATION 2016</h1>
                <h3 style="color: darksalmon;">Theme :</h3>
                <p style="font-weight: 500; color: #100f10;">National Symbols and Cultural Unity</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 col-sm-6">
          <div class="flip-card" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="500">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="{% static 'blogs/images/illu15.jpeg' %}" alt="2019" >
              </div>
              <div class="flip-card-back">
                <h1>ILLUMINATION 2015</h1>
                <h3 style="color: darksalmon;">Theme :</h3>
                <p style="font-weight: 500; color: #100f10;">LanKa Dahan</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      
    </section>
        </div>
      </div></section>
    <!--
  <section class="ftco-section">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-12 heading-section ftco-animate">
              <h2 class="mb-4"><span>Rangooli</span></h2>
            </div>
          </div> 
          </div>
          </div>
          <div class="rangoli">
          <div class="card">
            <div class="img-bx">
              <img src="{% static 'blogs/images/iilu5.jpg' %}">
            </div>
            <div class="content">
              <h2>Rangoli 2022</h2>
              <p>vccbkjsduhjkc mbcjhbcn  khsufhjkbc</p>
            </div>
          </div>
          <div class="card">
            <div class="img-bx">
              <img src="{% static 'blogs/images/iilu5.jpg' %}">
            </div>
            <div class="content">
              <h2>Rangoli 2022</h2>
              <p>vccbkjsduhjkc mbcjhbcn  khsufhjkbc</p>
            </div>
          </div>
          <div class="card">
            <div class="img-bx">
              <img src="{% static 'blogs/images/iilu5.jpg' %}">
            </div>
            <div class="content">
              <h2>Rangoli 2022</h2>
              <p>vccbkjsduhjkc mbcjhbcn  khsufhjkbc</p>
            </div>
          </div>
          </div>
          </div>
        </section> -->
        <section class="event">
          <div class="container" style="background-color:#C38D9D;" data-aos="flip-up"
          data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="500">
            <div class="row">
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-12 heading-section ftco-animate">
                    <h2 class="mb-4">INTRA HALL</h2>
                  </div>
                <div class="container" style="padding-left: 100px;">
                  <p style="font-size:18px; color:#100f10; text-align:justify; justify-content: end;">
                    Intra hall events at Azad Hall are a great way for the residents of the hall to come together, have fun, and build a sense of community.
                   These events may include sporting events, such as football or basketball tournaments, cultural events, such as music or dance performances, or social events, 
                  such as barbecues or movie nights. Intra hall events at Azad Hall are often organized by the residents themselves, and provide an opportunity 
                  for them to showcase their talents and interests, as well as to share their culture and traditions with their fellow residents.
                  Intra hall events at Azad Hall are an important part of student life, and help to create a sense of belonging and connection among
                   the residents of the hall. They also provide an opportunity for students to relax and unwind after a busy week of studies and other commitments.
             </p></div>
                </div> 
                </div>
                </div>
          </div>
        </section>
        <section class="ftco-section ftco-no-pt">
          <div class="container">
            <div class="row">
              <div class="col-lg-9">
                <div class="row">
                  <div class="col-md-4 ftco-animate">
                    <div class="blog-entry">
                      <div class="img-2"><img
                          src="{% static 'blogs/images/cric.jpg' %}"
                          class="img-fluid"
                          alt="Colorlib Template"
                      /></div>
                      <div class="text pt-3">
                        <p class="meta d-flex">
                          <span class="pr-3">Intra Hall</span
                          ><span class="ml-auto pl-3">Year-2022</span>
                        </p>
                        <h3>
                          Cricket
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 ftco-animate">
                    <div class="blog-entry">
                      <a href="single.html" class="img-2"
                        ><img
                          src="{% static 'blogs/images/Class song.jpg' %}"
                          class="img-fluid"
                          alt="Colorlib Template"
                      /></a>
                      <div class="text pt-3">
                        <p class="meta d-flex">
                          <span class="pr-3">Intra Hall</span
                          ><span class="ml-auto pl-3">Year-2022</span>
                        </p>
                        <h3>
                        Class Song
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 ftco-animate">
                    <div class="blog-entry">
                      <a href="single.html" class="img-2"
                        ><img
                          src="{% static 'blogs/images/cric2.jpg' %}"
                          class="img-fluid"
                          alt="Colorlib Template"
                      /></a>
                      <div class="text pt-3">
                        <p class="meta d-flex">
                          <span class="pr-3">Intra Hall</span
                          ><span class="ml-auto pl-3">Year-2022</span>
                        </p>
                        <h3>
                          Cricket
                        </h3>
                       <br/>      
                       <br/>      
                       <br/>
                      </div>
                    </div>
                  </div>
                </div>
              </div></div></div></section>
        <section class="event">
          <div class="container" style="background-color:#41B3A4;" data-aos="flip-up"
          data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="500">
            <div class="row">
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-12 heading-section ftco-animate">
                    <h2 class="mb-4">ALUMNI MEET</h2>
                  </div>
                <div class="container" style="padding-left: 100px;">
                  <p style="font-size:18px; color:#100f10; text-align:justify; justify-content: end;">
                    We live our day to day lives oblivious to the beauty that surrounds us and by the time we do realise what exactly it is that we've been blessed with, it's generally too late. However when the good old days call yet again, 
                    nostalgia surrounds us as we walk the hallowed boulevards of our youth.
                     The Annual Alumni Meet brings to our alumni a chance to reconnect with their Alma Mater. It lets them relive the carefree days of their college lives as they get a chance to visit all the locations they once frequented.
 These events can be a great way for alumni to reconnect with their former classmates and colleagues, and to stay connected with their alma mater. Alumni meets are often organized around specific themes or goals, such as networking, career
  development, or philanthropy, and may involve a variety of activities, such as panel discussions, workshops, social events, or fundraising activities
             </p></div>
                </div> 
                </div>
                </div>
          </div>
        </section>
        <section class="ftco-section ftco-no-pt">
          <div class="container">
            <div class="row">
                 <section class="event">
                <div class="row">
            <div class="col-6 col-md-4" >
              <div class="container" style="background-image: url({% static 'blogs/images/khoj1.jpg'%}); background-size:cover; width: 340px;" data-aos="fade-right"
              data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="500">
              </div>
            </div>
            <div class="col-12 col-md-8" style="padding-left: 20px;">
          <div class="container" style="background-color:#C7493A;" data-aos="fade-left"
          data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-delay="400">
            <div class="row">
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-12 heading-section ftco-animate">
                    <h2 class="mb-4">KHOJ</h2>
                  </div>
                <div class="container" style="padding-left: 100px;">
                  <p style="font-size:18px; color:#100f10; text-align:justify; justify-content: end;">
                    The onset of July brings with itself new life to the IIT campus. Blooming with it come the innocent first years, unknowing and curious to explore the beautiful campus. Their wish is fulfilled by the Azad hall of residence by organizing KHOJ, a campus treasure hunt for inspiring the
                     first years to explore the campus with friends as a game and make it one of the most memorable event of their stay in IIT KHARAGPUR. It was started in 2000. KHOJ is the first and the biggest event organized exclusively for the first years. 
             </p></div>
                </div> 
                </div>
                </div>
          </div>
        </section>
            </div>
          </div>
          </section>
            <section class="ftco-section ftco-no-pt">
              <div class="container">
                <div class="row">
                   <section class="event">
                      <div class="row">
                        <div class="col-12 col-md-8" style="padding-left: 20px;">
                          <div class="container" style="background-color:#00D5DA; width: 800px;" data-aos="fade-right"
                          data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="500">
                           <div class="row">
                           <div class="col-md-9">
                         <div class="row">
                           <div class="col-md-12 heading-section ftco-animate">
                           <h2 class="mb-4">SARSWATI PUJA</h2>
                                 </div>
                                 <div style="padding-left: 80px;">
                                  <p style="font-size:18px; color:#100f10; text-align:justify; justify-content: end;">
                                  The Saraswati Puja celebration at Azad Hall is a highly anticipated event that attracts a large crowd of residents and visitors every year.
                                   This event is typically held in honor of the Hindu goddess of knowledge and learning, and may involve a variety of traditional rituals and cultural activities.
                                    The residents of Azad Hall typically put a lot of effort into planning and organizing the Saraswati Puja celebration, and it is a chance for them to showcase their culture and traditions to the wider community.
                                        </p>
                              </div>
                             </div>
                                  </div> 
                                    </div>
                                      </div>
                                        </div>
                              <div class="col-6 col-md-4" >
                                <div class="container" style="background-image: url({% static 'blogs/images/sarswati.jpg'%}); background-size:cover; width: 300px;" data-aos="fade-left"
                               data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-delay="500">
                             </div>
                            </div>

                      </div>
                
                 </section>
        </div></div>
            </section>
      

        <section class="event">
          <div class="container" style="background-color:#907065; height: 400px; border-radius: 20px;"data-aos="flip-up"
          data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="500">
            <div class="row">
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-12 heading-section ftco-animate">
                    <h2 class="mb-4">REPUBLIC DAY</h2>
                  </div>
                <div style="padding-left: 100px;">
                  <p style="font-size:18px; color:#100f10; text-align:justify; justify-content: end;">
                    Republic Day are national holidays in India, and are celebrated with great patriotism and enthusiasm at Azad Hall.
                    These celebrations typically involve the hoisting of the national flag by the warden or another senior member of the hall administration, followed by patriotic speeches and cultural programs.
                    The residents of Azad Hall are known for their strong sense of national pride, and these celebrations provide an opportunity for them to come together and express their love for their country.
                    These celebrations are an important part of student life at Azad Hall, and help to foster a sense of community and pride among the residents of the hall. They are also a great opportunity for students
                    to relax and have fun after a busy week of studies and other commitments.
             </p></div>
                </div> 
                </div>
                </div>
          </div>
        </section>
        <section class="ftco-section ftco-no-pt">
          <div class="container">
            <div class="row">
              <div class="col-lg-9">
                <div class="row">
                  <div class="col-md-4 ftco-animate">
                    <div class="blog-entry">
                      <div class="img-2"><img
                          src="{% static 'blogs/images/group.JPG' %}"
                          class="img-fluid"
                          alt="Colorlib Template"
                      /></div>
                      <div class="text pt-3">
                        <p class="meta d-flex">
                          <span class="pr-3">Republic Day</span
                          ><span class="ml-auto pl-3">Year-2022</span>
                        </p>
                        
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 ftco-animate">
                    <div class="blog-entry">
                      <a href="single.html" class="img-2"
                        ><img
                          src="{% static 'blogs/images/secy.JPG' %}"
                          class="img-fluid"
                          alt="Colorlib Template"
                      /></a>
                      <div class="text pt-3">
                        <p class="meta d-flex">
                          <span class="pr-3">Republic Day</span
                          ><span class="ml-auto pl-3">Year-2022</span>
                        </p>
                       
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 ftco-animate">
                    <div class="blog-entry">
                      <a href="single.html" class="img-2"
                        ><img
                          src="{% static 'blogs/images/perfomance.JPG' %}"
                          class="img-fluid"
                          alt="Colorlib Template"
                      /></a>
                      <div class="text pt-3">
                        <p class="meta d-flex">
                          <span class="pr-3">Republic Day</span
                          ><span class="ml-auto pl-3">Year-2022</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
          
        <!-- 
    <section class="ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-12 heading-section ftco-animate">
                <h2 class="mb-4"><span>Holiday Seasons Recipes</span></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-lg-6 ftco-animate">
                <div class="blog-entry">
                  <div
                    class="img img-big img-big-2 d-flex align-items-end"
                    style="
                      background-image: url({% static 'blogs/images/image_1.jpg'%});
                    "
                  >
                    <div class="overlay"></div>
                    <div class="text">
                      <span class="subheading">Food</span>
                      <h3>
                        ham sandwich on white surface</a>
                      </h3>
                      <p class="mb-0">
                        <a href="index.html#" class="btn-custom"
                          >Read More
                          <span class="icon-arrow_forward ml-4"></span
                        ></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 ftco-animate">
                <div class="blog-entry">
                  <div
                    class="img img-big img-big-2 d-flex align-items-end"
                    style="
                      background-image: url({% static 'blogs/images/image_3.jpg'%});
                    "
                  >
                    <div class="overlay"></div>
                    <div class="text">
                      <span class="subheading">Lifestyle</span>
                      <h3>
                        White and red ceramic plate</a>
                      </h3>
                      <p class="mb-0">
                        <a href="index.html#" class="btn-custom"
                          >Read More
                          <span class="icon-arrow_forward ml-4"></span
                        ></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="sidebar-wrap pt-4">
              <div class="sidebar-box categories text-center ftco-animate">
                <h2 class="heading mb-4">Categories</h2>
                <ul class="category-image">
                  <li>
                    <a
                      href="foods.html"
                      class="img d-flex align-items-center justify-content-center text-center"
                      style="
                        background-image: url({% static 'blogs/images/category-1.jpg'%});
                      "
                    >
                      <div class="text">
                        <h3>Foods</h3>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a
                      href="lifestyle.html"
                      class="img d-flex align-items-center justify-content-center text-center"
                      style="
                        background-image: url({% static 'blogs/images/category-2.jpg'%});
                      "
                    >
                      <div class="text">
                        <h3>Lifestyle</h3>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a
                      href="index.html#"
                      class="img d-flex align-items-center justify-content-center text-center"
                      style="
                        background-image: url({% static 'blogs/images/category-2.jpg'%});
                      "
                    >
                      <div class="text">
                        <h3>Others</h3>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="ftco-counter ftco-section ftco-no-pt ftco-no-pb img"
      id="section-counter"
    >
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-6 d-flex">
            <div
              class="img d-flex align-self-stretch"
              style="background-image: url({% static 'blogs/images/about.jpg'%})"
            ></div>
          </div>
          <div class="col-md-6 pl-md-5 py-5">
            <div class="row justify-content-start pb-3">
              <div class="col-md-12 heading-section ftco-animate">
                <h2 class="mb-4">About Stories</h2>
                <p>
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia
                </p>
              </div>
            </div>
            <div class="row"> 
              <div
                class="col-md-6 justify-content-center counter-wrap ftco-animate"
              >
                <div class="block-18 text-center py-5 bg-light mb-4">
                  <div class="text">
                    <strong class="number" data-number="10">0</strong> 
                    <span>Years of Experienced</span>
                  </div>
                </div>
              </div>
              <div
                class="col-md-6 justify-content-center counter-wrap ftco-animate"
              >
                <div class="block-18 text-center py-5 bg-light mb-4">
                  <div class="text">
                    <strong class="number" data-number="200">0</strong>
                    <span>Foods</span>
                  </div>
                </div>
              </div>
              <div
                class="col-md-6 justify-content-center counter-wrap ftco-animate"
              >
                <div class="block-18 text-center py-5 bg-light mb-4">
                  <div class="text">
                    <strong class="number" data-number="300">0</strong>
                    <span>Lifestyle</span>
                  </div>
                </div>
              </div>
              <div
                class="col-md-6 justify-content-center counter-wrap ftco-animate"
              >
                <div class="block-18 text-center py-5 bg-light mb-4">
                  <div class="text">
                    <strong class="number" data-number="40">0</strong>
                    <span>Happy Customers</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ftco-subscribe ftco-section bg-light">
      <div class="overlay">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div
              class="col-md-8 text-wrap text-center heading-section ftco-animate"
            >
              <h2 class="mb-4"><span>Subcribe to our Newsletter</span></h2>
              <p>
                A small river named Duden flows by their place and supplies it
                with the necessary regelialia. It is a paradisematic country, in
                which roasted parts of sentences fly into your mouth.
              </p>
              <div class="row d-flex justify-content-center mt-4 mb-4">
                <div class="col-md-8">
                  <form action="index.html#" class="subscribe-form">
                    <div class="form-group d-flex">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter email address"
                      />
                      <input
                        type="submit"
                        value="Subscribe"
                        class="submit px-3"
                      />
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>-->
    

    
    <script src="{% static 'blogs/js/jquery.min.js' %}"></script>
    <script src="{% static 'blogs/js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static 'blogs/js/popper.min.js' %}"></script>
    <script src="{% static 'blogs/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blogs/js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'blogs/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'blogs/js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'blogs/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'blogs/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'blogs/js/aos.js' %}"></script>
    <script src="{% static 'blogs/js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'blogs/js/scrollax.min.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="{% static 'blogs/js/google-map.js' %}"></script>
    <script src="{% static 'blogs/js/main.js' %}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-23581568-13");
    </script>
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993"
      integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA=="
      data-cf-beacon='{"rayId":"779e0e3e1a671bfc","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.11.3","si":100}'
      crossorigin="anonymous"
    ></script>

    {% endblock %}