{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/fullComplain.css">
</head>
<body>
    <table>
        <tbody>
        <tr>
            <td data-label="id">{{complain.id}}</td>
            <td data-label="Created at">{{complain.created_at}}</td>
            <td data-label="name">{{complain.name}}</td>
            <td data-label="roll no">{{complain.roll_no}}</td>
            <td data-label="Room Number">{{complain.room_no}}</td>
            <td data-label="Contact">{{complain.contact_no}}</td>
            <td data-label="Contact">{{complain.email}}</td>
            <td data-label="Category">{{complain.category}}</td>
            <td data-label="complain">{{complain.complain}}</td>
            <td data-label="Status">{{complain.status}}</td>
            {% if complain.status == "pending" %}
            <td data-label="Completed_on">-</td>
            <td data-label="review">{{complain.manager_review}}</td>
            
            {% else %}
            <td data-label="Completed on">{{complain.modified_at}}</td>
            <td data-label="review">{{complain.manager_review}}</td>
            
            {% endif %}
            {% if complain.image %}
            <td data-label="image" ><img id="image" src="{{ complain.image.url }}" alt=""></td>
            {% endif %}
          </tr>
        </tbody>
      </table>
</body>
</html>