{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--[if IE]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

<!--====== HEADER PART START ======-->
<!--====== HEADER PART ENDS ======-->

<!--====== BRAND PART START ======
<div class="brand-area pt-90">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="
                brand-logo
                d-flex
                align-items-center
                justify-content-center justify-content-md-between
              ">
          <div class="single-logo mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <img src="{% static 'images/brands/uideck.svg' %}" alt="brand" />
          </div>
          <div class="single-logo mt-30 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.2s">
            <img src="{% static 'images/brands/ayroui.svg' %}" alt="brand" />
          </div>
          <div class="single-logo mt-30 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.3s">
            <img src="{% static 'images/brands/graygrids.svg' %}" alt="brand" />
          </div>
          <div class="single-logo mt-30 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.4s">
            <img src="{% static 'images/brands/lineicons.svg' %}" alt="brand" />
          </div>
          <div class="single-logo mt-30 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.5s">
            <img src="{% static 'images/brands/ecommerce-html.svg' %}" alt="brand" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
====== BRAND PART ENDS ======-->

<h4
    style="font-size:3rem;display: flex; max-width: 100%; text-align: center;padding-left: 20%;padding-right: 20%;margin-right: 0;justify-content: space-around;">
    Azad Hall of Residence<br><br></h4>
<strong
    style="display: flex; max-width: 100%; text-align: center;padding-left: 5%;padding-right: 5%;margin-right: 0; color: rgb(30, 31, 31);">
    Being a member of the esteemed Azad Hall is a privilege that carries with it a sense of pride and belonging, evoking
    deep emotions in those fortunate enough to be a part of the Azad family. The experience of being an Azadian is one
    that is indescribable, leaving a lasting
    impact on those who are fortunate enough to call themselves a part of this esteemed community.</strong><br>
<h4 style="text-align: center; color: rgb(61, 78, 73);"><strong>Let's try to know about Azad Hall !</strong></h4><br>
<ul style="list-style-type:disc; padding-left: 8%; padding-right: 8%; color: black;">
    <li>Azad Hall is known for its fast-paced and energetic
        atmosphere, with a high tempo that inspires hard work and dedication from its members.</li>
    <li>Azad Hall is a place where boarders can feel a sense of belonging and connection to
        their community. The Hall has a strong sense of identity
        and pride, and boarders who live there often feel a strong attachment to the Hall and its traditions.</li>
    <li>Azad Hall is a place where boarders can find a variety of activities and events that cater to their interests
        and passions. Whether it's cultural events, sports activities,
        or community service projects, there is always
        something going on that students can get involved in.</li>
    <li>The Hall is home to a range of resources and facilities that are designed to
        support student learning and well-being, including libraries, study areas, and recreational facilities.</li>
    <li>The Hall is known for its welcoming and inclusive atmosphere, where students
        from different backgrounds and cultures can come together and form strong bonds of friendship and support.</li>

</ul><br>
<h6 style="text-align:center">Overall, Azad Hall of Residence is a place that generates positive emotions and
    feelings among its boarders, fostering a sense of belonging, community, and purpose.</h6>


<section id="about">
    <!--====== ABOUT PART START ======-->
    <div class="about-area pt-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-content mt-50 wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="section-title">
                            <div class="line"></div>
                            <h3 class="title">
                                Illumination - <span>Started by Azad in 1981</span>
                            </h3>
                        </div>
                        <!-- section title -->
                        <p class="text">
                            On the day of Diwali, prior to the arrival of the chief guests, judges, and other officials,
                            mounted Diyas are lit up to showcase the intricate pictorial description. Based on the Illu
                            theme for a given hall, it is decorated using backlit panels (handmade from chart and
                            Diyas), ornate flower patterns, and symbolic Diya arrangem
                        </p>
                        <a href="{% url 'blogs' %}" class="main-btn">Visit Illu</a>
                    </div>
                    <!-- about content -->
                </div>
                <div class="col-lg-6">
                    <div class="about-image text-center mt-50 wow fadeInRightBig" data-wow-duration="1s"
                        data-wow-delay="0.5s">
                        <img src="{% static 'images/about/illu.jpg' %}" alt="about" class="landing-img" />
                    </div>
                    <!-- about image -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
        <div class="about-shape-1">
            <img src="{% static 'images/about/about-shape-1.svg' %}" alt="shape" />
        </div>
    </div>
    <!--====== ABOUT PART ENDS ======-->

    <!--====== ABOUT PART START ======-->
    <div class="about-area pt-70">
        <div class="about-shape-2">
            <img src="{% static 'images/about/about-shape-2.svg' %}" alt="shape" />
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-last">
                    <div class="about-content ms-lg-auto mt-50 wow fadeInLeftBig" data-wow-duration="1s"
                        data-wow-delay="0.5s">
                        <div class="section-title">
                            <div class="line"></div>
                            <h3 class="title">
                                General Championship <span> </span>
                            </h3>
                        </div>
                        <!-- section title -->
                        <p class="text">
                            The annual nerve-wracking competition between halls of residence for the general
                            championship.
                            Where students compete for the pride of their hall.

                        </p>
                        <a href="{% url 'blogs' %}" class="main-btn">Visit GC</a>
                    </div>
                    <!-- about content -->
                </div>
                <div class="col-lg-6 order-lg-first">
                    <div class="about-image text-center mt-50 wow fadeInRightBig" data-wow-duration="1s"
                        data-wow-delay="0.5s">
                        <img src="{% static 'images/about/GC.jpg' %}" alt="about" class="landing-img" />
                    </div>
                    <!-- about image -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!--====== ABOUT PART ENDS ======-->

    <!--====== ABOUT PART START ======-->
    <div class="about-area pt-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-content mt-50 wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="section-title">
                            <div class="line"></div>
                            <h3 class="title">
                                <span>Annual Alumni Meet</span>
                            </h3>
                        </div>
                        <!-- section title -->
                        <p class="text">
                            Annual meet where the former members of Azad hall visit there former home away from home.
                            Reminiscing their memories from past.
                        </p>
                        <a href="{% url 'blogs' %}" class="main-btn">View Alumini Meet</a>
                    </div>
                    <!-- about content -->
                </div>
                <div class="col-lg-6">
                    <div class="about-image text-center mt-50 wow fadeInRightBig" data-wow-duration="1s"
                        data-wow-delay="0.5s">
                        <img src="{% static 'images/about/ALUMINI.jpeg' %}" alt="about" class="landing-img" />
                    </div>
                    <!-- about image -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
        <div class="about-shape-1">
            <img src="{% static 'images/about/about-shape-1.svg' %}" alt="shape" />
        </div>
    </div>
    <!--====== ABOUT PART ENDS ======-->
</section>

<!--====== VIDEO COUNTER PART START ======-->
<section id="facts" class="video-counter pt-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-last">
                <div class="counter-wrapper mt-50 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                    <div class="counter-content">
                        <div class="section-title">
                            <div class="line"></div>
                            <h3 class="title">Khoj- The treasure hunt event</span></h3>
                        </div>

                        <p class="text">
                            KHOJ: Ultimate Treasure Hunt - The Largest and The most exciting event for Freshers,
                            organized by Az
                        </p>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-4">
                            <div class="
                      single-counter
                      counter-color-1
                      d-flex
                      align-items-center
                      justify-content-center
                    ">
                                <div class="counter-items text-center">
                                    <span style="color: white;">1954</span>

                                    <p class="text">Established</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-4">
                            <div class="
                      single-counter
                      counter-color-2
                      d-flex
                      align-items-center
                      justify-content-center
                    ">
                                <div class="counter-items text-center">
                                    <span style="color: white;">69</span>
                                    <p class="text">Years</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-4">
                            <div class="
                      single-counter
                      counter-color-3
                      d-flex
                      align-items-center
                      justify-content-center
                    ">
                                <div class="counter-items text-center">
                                    <span style="color: white;">739</span>
                                    <p class="text">Member</p>
                                </div>
                            </div>

                        </div>
                </div>

            </div>

        </div>
        <div class="col-lg-6">
            <div class="video-content mt-50 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">

                <div class="video-wrapper">
                    <div class="video-image">
                        <img src="{% static 'images/video/video.png' %}" alt="video" />
                    </div>
                    <div class="video-icon">
                        <a href="https://fb.watch/hx9HhSBnot/" style="display:hidden">
                            <i class="lni lni-play"> </i>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>

    </div>

</section>
<!--====== VIDEO COUNTER PART ENDS ======-->

<!--====== FOOTER PART START ======-->
<!--====== FOOTER PART ENDS ======-->

<!--====== BACK TOP TOP PART START ======-->
<!-- <a href="#" class="back-to-top"> <i class="lni lni-chevron-up"> </i> </a> -->
<!--====== BACK TOP TOP PART ENDS ======-->
<!--====== SERVICES PART START ======-->
<section id="features" class="services-area pt-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-title text-center pb-40">
                    <div class="line m-auto"></div>
                    <h3 class="title">
                        Warden
                        <span> </span>
                    </h3>
                </div>
                <!-- section title -->
            </div>
        </div>
        <!-- row -->
        <div class="row justify-content-center cards">
            <div class="col-lg-4 col-md-7 col-sm-8 card-item">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <!-- <div class="services-icon">
            <img class="shape" src="{% static 'images/services/bibhu.jpeg' %}" alt="shape" />
            <img class="shape-1" src="{% static 'images/services/bibhu.jpeg' %}" alt="shape" />
            <i class="lni lni-baloon"> </i>
          </div> -->
                    <div class="warden_img">
                        <img class="card-img" src="{% static 'images/services/nikhil.jpeg' %}" />
                    </div>
                    <div class="services-content mt-30">
                        <h4 class="services-title">
                            <a href="javascript:void(0)" style="font-family: 'Ubuntu', sans-serif;">Prof. N K
                                Singha<br><small><b>Warden</b></small>
                            </a>
                        </h4>

                        <p class="text">
                            Professor <br>
                            Rubber Technology <br>
                        </p>
                        <!-- <a class="more" href="javascript:void(0)">Learn More <i class="lni lni-chevron-right"> </i>
            </a> -->
                    </div>
                </div>
                <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-7 col-sm-8 card-item">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                    <!-- <div class="services-icon">
            <img class="shape" src="{% static 'images/services/nikhil.jpeg' %}" alt="shape" />
            <img class="shape-1" src="{% static 'images/services/nikhil.jpeg' %}" alt="shape" />
            <i class="lni lni-cog"> </i>
          </div> -->
                    <div class="warden_img">
                        <img class="card-img" src="{% static 'images/services/bibhu.jpeg' %}" />
                    </div>
                    <div class="services-content mt-30">
                        <h4 class="services-title">
                            <a href="javascript:void(0)" style="font-family: 'Ubuntu', sans-serif;">Prof. B
                                Sahoo<br><small><b>Asst. Warden</b></small></a>
                        </h4>
                        <p class="text">
                            Associate Professor<br>
                            Dept. of Electronics &<br>
                            Electrical Communication Engineering<br>

                        </p>
                        <!-- <a class="more" href="javascript:void(0)">Learn More <i class="lni lni-chevron-right"> </i>
            </a> -->
                    </div>
                </div>
                <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-7 col-sm-8 card-item">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                    <div class="warden_img">
                        <img class="card-img" src="{% static 'images/services/Hemakesh.jpeg' %}" />
                    </div>
                    <div class="services-content mt-30">
                        <h4 class="services-title">
                            <a href="javascript:void(0)" style="font-family: 'Ubuntu', sans-serif;">Prof. H
                                Mohapatra<br><small><b>Asst. Warden</b></small></a>
                        </h4>
                        <p class="text">
                            Assistant Professor Grade-I <br>Materials Science Centre
                        </p>
                        <!-- <a class="more" href="javascript:void(0)">Learn More <i class="lni lni-chevron-right"> </i>
            </a> -->
                    </div>
                </div>
                <!-- single services -->
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>
<br>
<br>
<br>
<div class="section-title text-center pb-40">
    <div class="line m-auto"></div>
    <h3 class="title">
        Contact
        <span> </span>
    </h3>
</div>
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <p>Azad Hall of Residence is one of the three halls in the PAN loop.
                It is the farthest from the institute main building and is the closest
                to the Tech Market and B.C Roy Hospital among all UG Halls.</p>
        </div>

        <div class="row aos-init aos-animate" data-aos="fade-in">

            <div class="col-lg-5 d-flex align-items-stretch">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>Colony Rd, IIT Kharagpur, Kharagpur, West Bengal 721302
                        </p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>info@example.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p> +91 3222 2 81110</p>
                    </div>

                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1046.2793030145333!2d87.29788460794228!3d22.31850432767396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1d43f925332425%3A0xc2e4806c3515453c!2sAzad%20Hall%2C%20Colony%20Rd%2C%20IIT%20Kharagpur%2C%20Kharagpur%2C%20West%20Bengal%20721302!5e0!3m2!1sen!2sin!4v1671480113232!5m2!1sen!2sin"
                        frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen=""></iframe>
                </div>

            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                <form action="about" method="POST" role="form" class="php-email-form">
                    <input type="hidden" name="csrfmiddlewaretoken"
                        value="65x8bej5J7dytyA9tzKXJYrZYH0uWdIsg0KJkoXwu6mFknhHApZ8y4BCAb0LaRns">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="name">Your Name</label>
                            <input type="text" name="name" class="form-control" maxlength="250" required=""
                                id="id_name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="name">Your Email</label>
                            <input type="email" name="name" class="form-control" maxlength="250" required=""
                                id="id_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Subject</label>
                        <input type="text" name="subject" class="form-control" maxlength="400" required=""
                            id="id_subject">
                    </div>
                    <div class="form-group">
                        <label for="name">Message</label>
                        <textarea name="msg" cols="40" rows="10" class="form-control" required=""
                            id="id_msg"></textarea>
                    </div>
                    <!--<div class="my-3">
                      <div class="loading">Loading</div>
                      <div class="error-message"></div>
                      <div class="sent-message">Your message has been sent. Thank you!</div>
                  </div>-->
                    <div class="text-center"><button type="submit" style="    background: #149ddd;
                    border: 0;
                    padding: 10px 24px;
                    color: #fff;
                    transition: 0.4s;
                    border-radius: 4px;
                }">Send Message</button></div>
                </form>
            </div>

        </div>

    </div>
</section>
<!--====== SERVICES PART ENDS ======-->
<!--====== Javascript Files ======-->
<!-- <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/glightbox.min.js' %}"></script>
<script src="{% static 'js/count-up.min.js' %}"></script>
<script src="{% static 'js/particles.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script> -->
{% endblock %}