{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/showComplaints.css">
    <link rel="shortcut icon" href="{% static 'images/faviconaz.webp' %}" type="image/png" />

</head>
<body>


    <table id="pending_complaints">
        <caption>
          <h2>REQUESTS</h2>
         <div class="complain_navigation">
            {% if requestedBooks.has_previous %}
      <a href="?requestedBooks_page={{ requestedBooks.previous_page_number }}">Previous</a>
    {% endif %}
    <span>
      Page {{ requestedBooks.number }} of {{ requestedBooks.paginator.num_pages }}.
    </span>
    {% if requestedBooks.has_next %}
      <a href="?requestedBooks_page={{ requestedBooks.next_page_number }}">Next</a>
    {% endif %}
          </div>
          {% comment %} <a href="#ongoing_complaints">Go to Ongoing complaints</a>  |  <a href="#completed_complaints">Go to Completed complaints</a> {% endcomment %}
        </caption>
        
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Date</th>
            <th scope="col">Name</th>
            <th scope="col">Roll Number</th>
            <th scope="col">Book Name</th>
            <th scope="col">Author</th>
            <th scope="col">Department</th>
            <th scope="col">Approve</th>
          </tr>
        </thead>
        <tbody>

        {% for requestedBook in requestedBooks %}
        <form action="/approve" method='post'>
            {% csrf_token %}
        <tr>
            <td data-label="id"><input id="id" name="id" type="text" readonly value={{requestedBook.id}} style="width:4rem;"></td>
            <td data-label="Created at">{{requestedBook.created_at}}</td>
            <td data-label="Name">{{requestedBook.studentName}}</td>
            <td data-label="Roll Nummber">{{requestedBook.studentRoll_no}}</td>
            <td data-label="Book Name">{{requestedBook.title}}</td>
            <td data-label="Book Name">{{requestedBook.author}}</td>
            <td data-label="Author">{{requestedBook.department}}</td>
            <td data-label="button"><button type="submit">Check out</button></td>

          </tr>
        </form>
        {% endfor %} 
        </tbody>
      </table>




      <table id="pending_complaints">
        <caption>
          <h2>CHECKED-OUT BOOKS</h2>
         <div class="complain_navigation">
            {% if checkedOutBooks.has_previous %}
      <a href="?checkedOutBooks_page={{ checkedOutBooks.previous_page_number }}">Previous</a>
    {% endif %}
    <span>
      Page {{ checkedOutBooks.number }} of {{ checkedOutBooks.paginator.num_pages }}.
    </span>
    {% if checkedOutBooks.has_next %}
      <a href="?checkedOutBooks_page={{ checkedOutBooks.next_page_number }}">Next</a>
    {% endif %}
          </div>
          {% comment %} <a href="#ongoing_complaints">Go to Ongoing complaints</a>  |  <a href="#completed_complaints">Go to Completed complaints</a> {% endcomment %}
        </caption>
        
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Date</th>
            <th scope="col">Name</th>
            <th scope="col">Contact Number</th>
            <th scope="col">Book Name</th>
            <th scope="col">Author</th>
            <th scope="col">Department</th>
            <th scope="col">Check In</th>
          </tr>
        </thead>
        <tbody>

        {% for checkedOutBook in checkedOutBooks %}
        <form action="/checkIn" method='post'>
            {% csrf_token %}
        <tr>
            <td data-label="id"><input  id="id" name="id" type="text" readonly value={{checkedOutBook.id}} style="width:4rem;"></td>
            <td data-label="Created at">{{checkedOutBook.created_at}}</td>
            <td data-label="Name">{{checkedOutBook.studentName}}</td>
            <td data-label="Roll Nummber">{{checkedOutBook.studentRoll_no}}</td>
            <td data-label="Book Name">{{checkedOutBook.title}}</td>
            <td data-label="Author">{{checkedOutBook.author}}</td>
            <td data-label="Department">{{checkedOutBook.department}}</td>
            <td data-label="button"><button type="submit">Check in</button></td>

          </tr>
        </form>
        {% endfor %} 
        </tbody>
      </table>
      

      {% comment %} <table id="ongoing_complaints">
        <caption><h2>COMPLAINTS IN PROGRESS</h2><a href="#completed_complaints">Go to Completed complaints</a>  |  <a href="#pending_complaints">Go to Submitted complaints</a></caption>
        <thead>
          <tr>
            <th scope="col" id="id">ID</th>
            <th scope="col">Date</th>
            <th scope="col">Name</th>
            <th scope="col">Room number</th>
            <th scope="col">Contact Number</th>
            <th scope="col" id="complain-head">Complain</th>
            <th scope="col">Status</th>
            <th scope="col" id="manager_review">Manager review</th>
            <th scope="col">Link</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>

        {% for complain in ongoing_complaints %}
        <form action="/updateStatus" method='post'>
            {% csrf_token %}
        <tr>
            <td data-label="id"><input name="id" type="text" readonly value={{complain.id}}></input></td>
            <td data-label="Created at">{{complain.created_at}}</td>
            <td data-label="Name">{{complain.name}}</td>
            <td data-label="Room Number">{{complain.room_no}}</td>
            <td data-label="Contact">{{complain.contact_no}}</td>
            <td data-label="complain" class="complain">{{complain.complain}} <a href="{% url 'fullComplain' complain.id %}">Read more</a></td>
            <td data-label="Status">{{complain.status}}</td>
            <td data-label="review"><textarea name="manager_review" placeholder="Enter review...">{{complain.manager_review}}</textarea></td>
            <td data-label="link"><a href="{% url 'fullComplain' complain.id %}">Complete details</a></td>
            <td data-label="button"><button type="submit">Complete</button></td>

          </tr>
        </form>
        {% endfor %} 
        </tbody>
      </table> {% endcomment %}

      {% comment %} <table id="completed_complaints">
        <caption><h2>COMPLETED COMPLAINTS</h2><a href="#ongoing_complaints">Go to Ongoing complaints</a>  |  <a href="#pending_complaints">Go to Submitted complaints</a></caption>
        <thead>
          <tr>
            <th scope="col" id="id">ID</th>
            <th scope="col">Date</th>
            <th scope="col">Name</th>
            <th scope="col">Room number</th>
            <th scope="col">Contact Number</th>
            <th scope="col" id="complain-head">Complain</th>
            <th scope="col">Status</th>
            <th scope="col">Completed on</th>
            <th scope="col" id="manager_review">Manager review</th>
            <th scope="col">Link</th>
          </tr>
        </thead>
        <tbody>

        {% for complain in completed_complaints %}
          <tr>
            <td data-label="id"><input name="id" type="text" readonly value={{complain.id}}></input></td>
            <td data-label="Created at">{{complain.created_at}}</td>
            <td data-label="Name">{{complain.name}}</td>
            <td data-label="Room Number">{{complain.room_no}}</td>
            <td data-label="Contact">{{complain.contact_no}}</td>
            <td data-label="complain">{{complain.complain}} <a href="{% url 'fullComplain' complain.id %}">Read more</a></td>
            <td data-label="Status">{{complain.status}}</td>
            <td data-label="Completed_on">{{complain.modified_at}}</td>
            <td data-label="review">{{complain.manager_review}}</td>
            <td data-label="link"><a href="{% url 'fullComplain' complain.id %}">Complete details</a></td>
          </tr>
        {% endfor %} 
        </tbody>
      </table> {% endcomment %}
      {% comment %} <script src="../static/js/complain.js"></script> {% endcomment %}
</body>
</html>