{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

 <!--head-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Complain</title>
    <link rel="stylesheet" href="../static/css/complain.css">
    <link rel="shortcut icon" href="{% static 'images/faviconaz.webp' %}" type="image/png" />


    </head>

<!--body-->
<body>
    <!--heading and description-->
    <h1 id="title">Complaint Form</h1>
    
    <p id="description"><a href="{% url 'complain_status' %}">See previous complaints</a></p>

<!--form-->
  <form id="survey-form", method='post', action="{% url 'submit_form' %}" enctype="multipart/form-data">
    {% csrf_token %}

<fieldset>
    <label for="category">Category</label>
    <!--dropdown-->
    <select id="category" name="category">
    <option value="mess">Mess</option>
    <option value="maintenance">Maintenance</option>
    </select>
    
    <label id="contact_no-label" for="contact_no">Contact No.</label>
    <input type="text" name='contact_no' id="contact_no" placeholder="Enter your contact no." required>
    <label id="room_no-label" for="room_no">Room No.</label>
    <input type="text" name = 'room_no' id="room_no" placeholder="Enter your room no." required>


    <label for="complain">Complain
    <textarea id="complain" name="complain" rows="3" cols="20" placeholder="Enter your complain here" required></textarea>
    </label>
    <label for="image">Image Link(if any)
    <input type="url" name="image" placeholder="Drive link">
    <label for="image">Upload Image(if any)
    <input type="file" name="file">
    </label>
</fieldset>

<fieldset>
    <input type="submit" id="submit" value="Submit">
</fieldset>

</form>

</body>

</html>
