{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KHOJ 2023 - Official Website</title>

    <link rel="stylesheet" href="../static/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.css" integrity="sha512-dUOcWaHA4sUKJgO7lxAQ0ugZiWjiDraYNeNJeRKGOIpEq4vroj1DpKcS3jP0K4Js4v6bXk31AAxAxaYt3Oi9xw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- remix icon cdn link  -->
    <link rel="stylesheet" href="../static/css/remixicon.css" >

    <!-- custom css file link  -->
    <link rel="stylesheet" href="../static/css/timelineKhoj.css">
    <link rel="stylesheet" href="../static/css/khoj.css">

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'images/faviconaz.webp' %}" type="image/png" />

</head>

<body>

    <!-- header section starts  -->

    <header class="header">
        <img id="logo" src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/logo.webp?updatedAt=1730980912702" height="50rem" style="margin-left: 0px;">

        <a href="#" class="logo"><span>KHOJ</span> ২३</a>

        <nav class="navbar">
            <a href="/">Home</a>
            <a href="#about">About Khoj</a>
            <a href="#events">Timeline</a>
            <a href="#gallery">Gallery</a>
            <a href="#sponsors">Sponsors</a>
            <a href="#contact">Contact</a>
            {% comment %} <a href="https://docs.google.com/forms/d/e/1FAIpQLSeFBQZVGZAJIWSVniE8Zr6B1gF8joktJCiLSmbQVt0sf9cpCg/viewform" target="_blank" style="color: var(--main-color); font-weight: 700 ; font-size: 2.5rem;">Register</a> {% endcomment %}

            <!-- <a href="#" class="btn screen-sm-hidden" style="color: #1f1f1f;">Register</a> -->

        </nav>

        <div id="menu-bars" class="ri-menu-line"></div>

    </header>

    <!-- header section ends -->

    <!-- home section starts  -->

    <section class="home" id="home">

        <div class="content">
            <img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/logo-2022.webp?updatedAt=1730980844879" alt="Sanskriti Logo 2022" width="80%">
        </div>

        <div class="swiper-container home-slider">
            <div class="swiper-wrapper" style="margin-bottom: -4rem;">
                <div class="swiper-slide"><img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/g-10.webp?updatedAt=1730980895666" alt=""></div>
                <div class="swiper-slide"><img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/g-2.webp?updatedAt=1730980861655" alt=""></div>
                <div class="swiper-slide"><img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/g-6.webp?updatedAt=1730980875278" alt=""></div>
                <div class="swiper-slide"><img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/g-8.webp?updatedAt=1730980885554" alt=""></div>
                <div class="swiper-slide"><img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/g-14.webp?updatedAt=1730980797300" alt=""></div>
                <div class="swiper-slide"><img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/g-12.webp?updatedAt=1730980902704" alt=""></div>
                <div class="swiper-slide"><img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/g-11.webp?updatedAt=1730980906102" alt=""></div>
                <div class="swiper-slide"><img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/g-13.webp?updatedAt=1730980780169" alt=""></div>
                <div class="swiper-slide"><img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/g-4.webp?updatedAt=1730980889227" alt=""></div>
                <div class="swiper-slide"><img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/g-15.webp?updatedAt=1730980786899" alt=""></div>
                <div class="swiper-slide"><img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/g-16.webp?updatedAt=1730980783617" alt=""></div>
            </div>
        </div>

    </section>

    <!-- home section ends -->

    <!-- <script src="https://cdn.logwork.com/widget/countdown.js"></script> -->
    <!-- <a href="https://logwork.com/countdown-7vak" class="countdown-timer" data-style="flip2" data-timezone="Asia/Kolkata" data-textcolor="#ff0000" data-date="2022-05-21 00:00" data-background="#1f1f1f" data-digitscolor="#ff0000" data-unitscolor="#ff0000"> </a> -->

    <!-- about section starts  -->

    <section class="about" id="about">

        <h1 class="heading">what is <span>KHOJ</span></h1>

        <div class="row">

            <div class="image">
                <img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/about-img.webp?updatedAt=1730980868719" alt="">
            </div>

            <div class="content">
                <h3>KHOJ</h3>
                <p>KHOJ is a creative event organised by IIT Kharagpur's Azad Hall of Residence, encapsulates the spirit
                    of a warm welcome and a smooth transition for arriving freshmen. Khoj is a thrilling experience for
                    students throughout the vital early days of their university adventure, designed to acquaint them
                    with the large campus and the vibrant academic atmosphere. Khoj encourages freshmen to make
                    relationships with fellow students, staff members, and the myriad of resources available, with a
                    focus on developing a sense of community.</p>

                <p>
                <ul>
                    <h3>KEY FEATURES</h3>
                    <li>Campus Tour</li>
                    <li>Departmental Introduction</li>
                    <li>Interactive Session</li>
                    <li>Resource Guidance</li>
                    <li>Student Organizations</li>
                    <li>Cultural & Social Events</li>
                    <li>Networking Opportunity: Khoj provides a platform for new students to start building thier
                        network by
                        interacting with faculty members and senior students. Khoj is an opportunity for freshmen to
                        feel
                        comfortable , informed about their acadamic environment . It amis to ease their transition</li>
                </ul>
                </p>
            </div>

        </div>

    </section>

    <!-- about section ends -->

    <!-- events section starts  -->

    <section class="events" id="events">

        <h1 class="heading" style="margin-bottom: -8rem;"><span>Event</span> Timeline</h1>
        <br>
        <br>

        <section class="timeline">
            <ul>
                <li class="tmln">
                    <div>
                        
                            <time>27<sup>th</sup> August, 2023 <br>12:00 PM <br>

                                Online Registration for the Event starts <br>

                                <a target="_blank" style="color:black; font-weight: bolder;"
                                    href="https://docs.google.com/forms/d/e/1FAIpQLSeFBQZVGZAJIWSVniE8Zr6B1gF8joktJCiLSmbQVt0sf9cpCg/viewform">
                                    <b class="reg00"> REGISTER !!! </b> </a>
                            </time>
                        
                    </div>
                </li>
                <li class="tmln">
                    <div>
                  
                            <time>2<sup>nd</sup> September, 2023 <br>12:00 PM <br>

                                Offline Registration for the Event starts <br>

                                <a target="_blank" style="color:black; font-weight: bolder;"
                                    href="https://www.google.com/maps/dir//IIT+Kharagpur,+IIT+Kharagpur,+Kharagpur,+West+Bengal+721302/@22.3187104,87.2201282,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3a1d4407422c1675:0xa2d9d15d09ca4c4!2m2!1d87.3025298!2d22.3187312?entry=ttu">
                                    <i class="ri-map-pin-fill"> Gymkhana Foyer </i> </a>
                            </time>
                        
                    </div>
                </li>
                <li class="tmln">
                    <div>
                     
                            <time>2<sup>nd</sup> September, 2023 <br>02:00 PM <br>

                                Event starts <br>

                                <a target="_blank" style="color:black; font-weight: bolder;"
                                    href="https://www.google.com/maps/dir//IIT+Kharagpur,+IIT+Kharagpur,+Kharagpur,+West+Bengal+721302/@22.3187104,87.2201282,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3a1d4407422c1675:0xa2d9d15d09ca4c4!2m2!1d87.3025298!2d22.3187312?entry=ttu">
                                    <i class="ri-map-pin-fill"> Gymkhana Foyer </i> </a>
                            </time>
                        
                    </div>
                </li>
                <li class="tmln">
                    <div>
                        
                            <time>2<sup>nd</sup> September, 2023 <br>06:00 PM <br>

                                Winner's Announcement & Prize distribution <br>

                                <a target="_blank" style="color:black; font-weight: bolder;"
                                    href="https://www.google.com/maps/dir//IIT+Kharagpur,+IIT+Kharagpur,+Kharagpur,+West+Bengal+721302/@22.3187104,87.2201282,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3a1d4407422c1675:0xa2d9d15d09ca4c4!2m2!1d87.3025298!2d22.3187312?entry=ttu">
                                    <i class="ri-map-pin-fill"> Gymkhana Foyer </i> </a>
                            </time>
                        
                    </div>
                </li>
                <li class="tmln">
                    <div>

                            <time>2<sup>nd</sup> September, 2023 <br>06:30 PM <br>

                                DJ Night <br>

                                <a target="_blank" style="color:black; font-weight: bolder;"
                                    href="https://www.google.com/maps/dir//IIT+Kharagpur,+IIT+Kharagpur,+Kharagpur,+West+Bengal+721302/@22.3187104,87.2201282,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3a1d4407422c1675:0xa2d9d15d09ca4c4!2m2!1d87.3025298!2d22.3187312?entry=ttu">
                                    <i class="ri-map-pin-fill"> Gymkhana Foyer </i> </a>
                            </time>
                      
                    </div>
                </li>

            </ul>
        </section>

        <div class="brochure" id="brochure">
            <a href="https://www.canva.com/design/DAFsF-7Flds/e1-t_qtF5iSY4uIRiBcrKQ/edit?utm_content=DAFsF-7Flds&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"
                target="blank" class="btn" style="font-size: 2rem;">Download Event Brochure</a>
            <br>
            <!-- <a href="https://docs.google.com/forms/d/e/1FAIpQLSeFBQZVGZAJIWSVniE8Zr6B1gF8joktJCiLSmbQVt0sf9cpCg/viewform"
                target="blank" class="btn" style="font-size: 2rem;">Student's Registration</a> -->
        </div>

    </section>

    <!-- events section ends -->

    <!-- gallery section starts  -->

    <section class="gallery" id="gallery">

        <h1 class="heading">Photo <span>Gallery</span></h1>

        <div class="box-container">

            <div class="box">
                <img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/g-1.webp?updatedAt=1730980854919" alt="">
                <h3 class="title">photos and events</h3>
                <div class="icons">
                    <a href="#gallery" class="fas ri-eye-fill"></a>
                </div>
            </div>

            <div class="box">
                <img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/g-2.webp?updatedAt=1730980861655" alt="">
                <h3 class="title">photos and events</h3>
                <div class="icons">
                    <a href="#gallery" class="fas ri-eye-fill"></a>
                </div>
            </div>

            <div class="box">
                <img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/g-3.webp?updatedAt=1730980872039" alt="">
                <h3 class="title">photos and events</h3>
                <div class="icons">
                    <a href="#gallery" class="fas ri-eye-fill"></a>
                </div>
            </div>

            <div class="box">
                <img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/g-4.webp?updatedAt=1730980889227" alt="">
                <h3 class="title">photos and events</h3>
                <div class="icons">
                    <a href="#gallery" class="fas ri-eye-fill"></a>
                </div>
            </div>

            <div class="box">
                <img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/g-5.webp?updatedAt=1730980882363" alt="">
                <h3 class="title">photos and events</h3>
                <div class="icons">
                    <a href="#gallery" class="fas ri-eye-fill"></a>
                </div>
            </div>

            <div class="box">
                <img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/g-6.webp?updatedAt=1730980875278" alt="">
                <h3 class="title">photos and events</h3>
                <div class="icons">
                    <a href="#gallery" class="fas ri-eye-fill"></a>
                </div>
            </div>

            <div class="box">
                <img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/g-7.webp?updatedAt=1730980899038" alt="">
                <h3 class="title">photos and events</h3>
                <div class="icons">
                    <a href="#gallery" class="fas ri-eye-fill"></a>
                </div>
            </div>

            <div class="box">
                <img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/g-8.webp?updatedAt=1730980885554" alt="">
                <h3 class="title">photos and events</h3>
                <div class="icons">
                    <a href="#gallery" class="fas ri-eye-fill"></a>
                </div>
            </div>

            <div class="box">
                <img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/g-9.webp?updatedAt=1730980892428" alt="">
                <h3 class="title">photos and events</h3>
                <div class="icons">
                    <a href="#gallery" class="fas ri-eye-fill"></a>
                </div>
            </div>

            <div class="box">
                <img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/g-10.webp?updatedAt=1730980895666" alt="">
                <h3 class="title">photos and events</h3>
                <div class="icons">
                    <a href="#gallery" class="fas ri-eye-fill"></a>
                </div>
            </div>

            <div class="box">
                <img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/g-11.webp?updatedAt=1730980906102" alt="">
                <h3 class="title">photos and events</h3>
                <div class="icons">
                    <a href="#gallery" class="fas ri-eye-fill"></a>
                </div>
            </div>

            <div class="box">
                <img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/g-12.webp?updatedAt=1730980902704" alt="">
                <h3 class="title">photos and events</h3>
                <div class="icons">
                    <a href="#gallery" class="fas ri-eye-fill"></a>
                </div>
            </div>
            <div class="box">
                <img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/g-13.webp?updatedAt=1730980780169" alt="">
                <h3 class="title">photos and events</h3>
                <div class="icons">
                    <a href="#gallery" class="fas ri-eye-fill"></a>
                </div>
            </div>
            <div class="box">
                <img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/g-14.webp?updatedAt=1730980797300" alt="">
                <h3 class="title">photos and events</h3>
                <div class="icons">
                    <a href="#gallery" class="fas ri-eye-fill"></a>
                </div>
            </div>
            <div class="box">
                <img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/g-15.webp?updatedAt=1730980786899" alt="">
                <h3 class="title">photos and events</h3>
                <div class="icons">
                    <a href="#gallery" class="fas ri-eye-fill"></a>
                </div>
            </div>
            <div class="box">
                <img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/g-16.webp?updatedAt=1730980783617" alt="">
                <h3 class="title">photos and events</h3>
                <div class="icons">
                    <a href="#gallery" class="fas ri-eye-fill"></a>
                </div>
            </div>
            <div class="box">
                <img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/g-17.webp?updatedAt=1730980909361" alt="">
                <h3 class="title">photos and events</h3>
                <div class="icons">
                    <a href="#gallery" class="fas ri-eye-fill"></a>
                </div>
            </div>
            <div class="box">
                <img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/g-18.webp?updatedAt=1730980790709" alt="">
                <h3 class="title">photos and events</h3>
                <div class="icons">
                    <a href="#gallery" class="fas ri-eye-fill"></a>
                </div>
            </div>
            <div class="box">
                <img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/g-19.webp?updatedAt=1730980794035" alt="">
                <h3 class="title">photos and events</h3>
                <div class="icons">
                    <a href="#gallery" class="fas ri-eye-fill"></a>
                </div>
            </div>
            <div class="box">
                <img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/g-20.webp?updatedAt=1730980916010" alt="">
                <h3 class="title">photos and events</h3>
                <div class="icons">
                    <a href="#gallery" class="fas ri-eye-fill"></a>
                </div>
            </div>
        </div>

    </section>

    <!-- gallery section ends -->

    <!-- price section starts  -->

    <section class="sponsors" id="sponsors">
        <h1 class="heading" style="margin-bottom: -40px; margin-top: 50px;"> past associate <span>sponsors</span> </h1>
        <div class="box-container">
            <div class="box"><img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/sponsor2.webp?updatedAt=1730980851620" alt="" height="150rem"></div>
            <div class="box"><img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/sponsor4.webp?updatedAt=1730980858129" alt="" height="150rem"  width="150rem"></div>
            <div class="box"><img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/sponsor3.webp?updatedAt=1730980841655" alt="" height="150rem" ></div>
            <div class="box"><img src="https://ik.imagekit.io/qsg4eodx8/KHOJ23/sponsor1.webp?updatedAt=1730980848230" alt="" height="150rem"></div>
        </div>
        <!-- <h1 class="heading"> food <span>sponsor</span> </h1> -->
    </section>

    <!-- price section ends -->

    <!-- contact section starts  -->

    <section class="contact" id="contact">

        <h1 class="heading" style="margin-top: 50px;"> <span>contact</span> us </h1>
        <div class="box-container">
            <div class="box">
                <h3>Event Coordinators</h3>
                <ul>
                    <li>Amitabh Kumar Raj +91 9635182488</li>
                </ul>
            </div>
            <div class="box">
                <h3>General Secretaries</h3>
                <ul>
                    <li>Ankit Yadav +91 7369091131</li>
                    <li>Shresth Agrawal +91 9737713754</li>
                    <li>Bhoumik Mhatre +91 8087562959 </li>
                    <li>Aditya Sharma +91 7014493349</li>
                </ul>
            </div>
            <div class="box">
                <h3>Secretaries</h3>
                <ul>
                    <li>Meet Meshram +91 7709260629</li>
                    <li>Nikhil Yadav +91 9616650639</li>
                    <li>Arin Tigga +91 7067601517</li>
                </ul>
            </div>
        </div>

    </section>

    <!-- contact section ends -->

    <!-- footer section starts  -->

    <section class="footer">
        <div class="center">
            <div><a href="https://www.facebook.com/azad.hall/" target="blank"> <i class="fa-brands fa-facebook"></i>
                </a></div>
            <div><a href="https://www.instagram.com/azadian.iitkgp/" target="blank"><i class="fa-brands fa-square-instagram"></i>
                </a></div>
            <div><a href="https://www.youtube.com/@azadhallofresidence1579/featured"> <i class="fa-brands fa-youtube"></i>
                </a></div>
        </div>
    </section>

    <!-- footer section ends -->

    <script src="../static/js/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="../static/js/khoj.js"></script>
    <script src="../static/js/timelineKhoj.js"></script>
    <script src="https://kit.fontawesome.com/af91154735.js" crossorigin="anonymous"></script>

</body>

</html>