{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{% static 'images/libraryfavicon.webp' %}" type="image/png" />
    <link href="../static/css/library/newlibrarycss.css" rel="stylesheet">
    <link href="../static/css/alert.css" rel="stylesheet">
    <link href="../static/css/library/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script async="" src="../static/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script async="" src="../static/js/library.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Library</title>
    <meta name="robots" content="index, follow">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="next-head-count" content="8">
    <link data-next-font="" rel="preconnect" href="/" crossorigin="anonymous">
    <!-- <link rel="preload" href="../static/css/library/dab1868370809cf7.css" as="style" crossorigin=""> -->
    <link rel="stylesheet" href="../static/css/library/dab1868370809cf7.css" crossorigin="" data-n-g="">
    <link rel="stylesheet" href="../static/css/library/library.css" type="text/css">
    <link rel="stylesheet" href="../static/css/library/header-1.css" type="text/css">

    <link rel="shortcut icon" href="{% static 'images/faviconaz.webp' %}" type="image/png" />
    <link rel="stylesheet" href="../static/css/showComplaints.css">
     <!-- <link rel="stylesheet" href="../static/css/alert.css"> -->

  


</head>

<body>
    
    <header class="site-header">
        <div class="wrapper site-header__wrapper">
          <a href="/" class="brand"><img id="logo" src="../static/img/khoj/logo.webp" height="50rem" style="margin-left: 0px;"></a>
          <nav class="nav">
            <button class="nav__toggle" aria-expanded="false" type="button">
              <i class="fa-solid fa-bars fa-2xl"></i>
            </button>
            <ul class="nav__wrapper">
              <li class="nav__item"><a href="/">Home</a></li>
              <li class="nav__item"><a href="/previousBookRequests">Previous Book Requests</a></li>
              <li class="nav__item"><a href="/khoj">Khoj</a></li>
              <li class="nav__item"><a href="/alumni">Alumni</a></li>
              
              <li class="nav__item"><a href="/complain">Mess/Maintenance</a></li>
            </ul>
          </nav>
        </div>
      </header>
    
        
       
       


        
           
            
                <div style="height:fit-content;margin-bottom:50px;display:flex;flex-direction:column;align-items: center;font-size:1.4rem" class="header row">
                    <h1 class= "Meet"style="margin:20px auto 0px auto;font-size:3rem;color:black;font-weight:bold;text-align:center">
                        HALL LIBRARY</h1>
                        <a href="/previousBookRequests">Previous Book Requests</a>
                </div>
            {% comment %} alert message {% endcomment %}
            {% comment %} sending message as parameter {% endcomment %}
            {% if message %}
            <div id="alert"><div class="inner">
                <div>{{ message }}</div>
                <div id="icon"><svg id="close-alert"xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg></div>
            </div></div>
            {% elif messages %}
            {% comment %} using in-built message feature {% endcomment %}
            {% for message in messages %}
            <div id="alert"><div class="inner">
                <div>{{ message }}</div>
                <div id="icon"><svg id="close-alert"xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg></div>
            </div></div>
            {% endfor %}
            {% endif %}
                <div style="display:flex;justify-content:center;">
                  
                    <div class="startups">
                        <div class="search-container row">
                            <form action="/search" method="post">
                                {% csrf_token %}
                                {% if searchedString %}
                                <input type="search" name="search" id="search-box"
                                placeholder="Search books" value={{searchedString}}>
                                {% else %}
                                <input type="search" name="search" id="search-box"
                                placeholder="Search books" value="">
                                {% endif %}
                        <button class="search_button" type="submit">Search</button>
                        </form>
                        </div>
                        <div class="complain_navigation">
                            {% if books.has_previous %}
                      <a href="?books_page={{ books.previous_page_number }}">Previous</a>
                    {% endif %}
                    <span>
                        {% if books.number %}
                            Page {{ books.number }} of {{ books.paginator.num_pages }}.
                        {% endif %}
                    </span>
                    {% if books.has_next %}
                      <a href="?books_page={{ books.next_page_number }}">Next</a>
                    {% endif %}
                          </div>
                        <div class="table" style="padding:.5rem;">


                            <table >
                                <thead>
                                  <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Author</th>
                                    <th scope="col">Department</th>
                                    <th scope="col" id="complain-head">Quantity</th>
                                    <th scope="col">Available</th>
                                    <th scope="col">Check Out</th>
                                  </tr>
                                </thead>
                                <tbody>
                        
                                {% for book in books %}
                                <tr>
                                    <form action="/checkout" method="post">
                                        {% csrf_token %}
                                    <td style="padding:1rem;" data-label="id"><input id="id" name="id" type="text" readonly value={{book.id}} style="width:4rem;"></td>
                                    <td  style="padding:.8rem;" data-label="Title">{{book.title}}</td>
                                    <td style="padding:.8rem;" data-label="Author">{{book.author}}</td>
                                    <td style="padding:.8rem;" data-label="Department">{{book.department}}</td>
                                    <td style="padding:.8rem;" data-label="complain">{{book.quantity}}</td>
                                    <td style="padding:.8rem;" data-label="Status">{{book.available}}</td>
                                    {% if book.available == 0 %}
                                    <td style="padding:.8rem;" data-label="Completed_on"><button type="submit" disabled>Check out</button></td>
                                    
                                    {% else %}
                                    <td style="padding:.8rem;" data-label="Completed_on"><button type="submit">Check out</button></td>
                                    
                                    {% endif %}
                                    </form>
                                  </tr>
                                {% endfor %} 
                                </tbody>
                              </table>



            </div>
        </div>

        
       
        <!-- <script async="" src="js/lottie-player.js"></script> -->
        <div>
            
            <div style="position:fixed;z-index:9999;top:16px;left:16px;right:16px;bottom:16px;pointer-events:none">
            </div>
        </div>
    </div>
    <div class="complain_navigation">
        {% if books.has_previous %}
  <a href="?books_page={{ books.previous_page_number }}">Previous</a>
{% endif %}
<span>
    {% if books.number %}
        Page {{ books.number }} of {{ books.paginator.num_pages }}.
    {% endif %}
</span>
{% if books.has_next %}
  <a href="?books_page={{ books.next_page_number }}">Next</a>
{% endif %}
      </div>

<script>
    let navToggle = document.querySelector(".nav__toggle");
let navWrapper = document.querySelector(".nav__wrapper");

navToggle.addEventListener("click", function () {
  if (navWrapper.classList.contains("active")) {
    this.setAttribute("aria-expanded", "false");
    this.setAttribute("aria-label", "menu");
    navWrapper.classList.remove("active");
  } else {
    navWrapper.classList.add("active");
    this.setAttribute("aria-label", "close menu");
    this.setAttribute("aria-expanded", "true");
  }
});
</script>
<script src="https://kit.fontawesome.com/af91154735.js" crossorigin="anonymous"></script>
  
    <script id="__NEXT_DATA__" type="application/json"
        crossorigin="">{"props":{"pageProps":{}},"page":"/startups","query":{},"buildId":"QIyg21zuO9oYxiHmIOV0Z","nextExport":true,"autoExport":true,"isFallback":false,"scriptLoader":[]}</script>
        <script type="text/javascript" src="{% static 'assets1/js/alert.js' %}"></script>
</body>

</html>