{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

<!--head-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Noticeboard</title>
    <link rel="stylesheet" href="../static/css/notice.css">
    <link rel="shortcut icon" href="{% static 'images/faviconaz.webp' %}" type="image/png" />


</head>

<!--body-->

<body>
    <!--heading and description-->
    <h1 id="title">Title</h1>
    <div class="notice">
        <div class="notice_title">{{notice.title}}</div>
        <div class="subtitle">{{notice.subtitle}}</div>
        <div class="description">{{notice.description}}</div>
    </div>
</body>

</html>