#alert{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 1.4rem;
  width: 100%;
  top: 20px;
  z-index: 2;
}
.inner{
  background-color: transparent;
  padding: 2rem;
  border-radius: 2px;
  box-shadow: 0px 0px 6px rgba(248, 248, 248, 0.468);
  display: flex;
  justify-content: center;
  color: rgb(33, 32, 32);
  align-items: center;
  gap: 1rem;
  width: 300px;
  height: 100px;
}
.inner::before{
  content: "";
  position: absolute;
  height: 100px;
  width: 300px;
  background-color: rgba(253, 253, 253, 0.7);
  opacity: .9;
  z-index: -2;
  /* border: 1px solid black;
  border-radius: 1rem; */
}
.inner div{
  max-width: 300px;
  text-wrap:wrap;
}
svg{
  height: 30px;
  width: 30px;
}
#icon:hover{
  cursor: pointer;
}
@media screen and (max-width:350px){
  .inner{
    width: 250px;
  }
  .inner::before{
    width: 250px;
  }
}