body {
  width: 100%;
  margin: 0;
  background-image: url("../img/azadhall.jpg");
  background-size: cover;
  color: #f2ecec;
  font-family: Tahoma;
  font-size: 1.3rem;
}
#description a{
  text-decoration: none;
  font-size: 1.6rem;
}
#description a:hover{
  color: rgb(44, 4, 202);
}
h1, p {
  margin: .5rem auto;
  text-align: center;
  color:rgb(57, 56, 56);
}

form {
  width: 80%;
  max-width: 500px;
  margin: 1rem auto;
  border-radius: 5px;
  padding: 0 1.5rem 1.5rem 1.5rem;
  padding-top: 0rem;
  position: relative;
}
form::before{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgb(111, 107, 107);
  left: 0;
  z-index: -1;
  opacity: .8;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 2px black;
}

fieldset {
  border: none;
  padding: 1rem 0;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0rem 0;
  margin-top: .5rem;
}


input,
textarea,
select {
  margin: 5px 0 0 0;
  width: 100%;
  padding: .3rem;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
}

input:hover, textarea:hover, select:hover{
  background-color: #eef3f599;
}
input:focus, textarea:focus, select:focus{
  background-color: white;
}
#submit{
  width: 40%;
  float: right;
}


